In [ ]:
#cleaning Unemployment by State data

In [71]:
import csv
import pandas as pd
import matplotlib.pyplot as plt
import re

In [402]:
employment_data = pd.read_csv("./Data/Unemployment and Household Income 2007-08.csv")
employment_data = employment_data.iloc[7:,]
employment_data = employment_data.rename(columns={"Unemployment and median household income for the U.S., States, and counties, 2007-18":"Unemployment Rate","Unnamed: 1": "State", "Unnamed: 2": "County/State","Unnamed: 3":"Rural 2013","Unnamed: 4":"Urban 2013","Unnamed: 5":"Metro 2013","Unnamed: 6":"CLF 2007","Unnamed: 7":"Emp 2007","Unnamed: 8":"Unemp 2007","Unnamed: 9":"Unemp Rate 2007","Unnamed: 10":"CLF 2008","Unnamed: 11":"Emp 2008","Unnamed: 12":"Unemp 2008","Unnamed: 13":"Unemp Rate 2008","Unnamed: 14":"CLF 2009","Unnamed: 15":"Emp 2009","Unnamed: 16":"Unemp 2009","Unnamed: 17":"Unemp Rate 2009","Unnamed: 18":"CLF 2010","Unnamed: 19":"Emp 2010","Unnamed: 20":"Unemp 2010","Unnamed: 21":"Unemp Rate 2010","Unnamed: 22":"CLF 2011","Unnamed: 23":"Emp 2011","Unnamed: 24":"Unemp 2011","Unnamed: 25":"Unemp Rate 2011","Unnamed: 26":"CLF 2012","Unnamed: 27":"Emp 2012","Unnamed: 28":"Unemp 2012","Unnamed: 29":"Unemp Rate 2012","Unnamed: 30":"CLF 2013","Unnamed: 31":"Emp 2013","Unnamed: 32":"Unemp 2013","Unnamed: 33":"Unemp Rate 2013","Unnamed: 34":"CLF 2014","Unnamed: 35":"Emp 2014","Unnamed: 36":"Unemp 2014","Unnamed: 37":"Unemp Rate 2014","Unnamed: 38":"CLF 2015","Unnamed: 39":"Emp 2015","Unnamed: 40":"Unemp 2015","Unnamed: 41":"Unemp Rate 2015","Unnamed: 42":"CLF 2016","Unnamed: 43":"Emp 2016","Unnamed: 44":"Unemp 2016","Unnamed: 45":"Unemp Rate 2016","Unnamed: 46":"CLF 2017","Unnamed: 47":"Emp 2017","Unnamed: 48":"Unemp 2017","Unnamed: 49":"Unemp Rate 2017","Unnamed: 50":"CLF 2018","Unnamed: 51":"Emp 2018","Unnamed: 52":"Unemp 2018","Unnamed: 53":"Unemp Rate 2018", "Unnamed: 54": "Median Household Income 2017", "Unnamed: 55": "Median HH Income (%) 2017"})
employment_data = employment_data.drop(["Unemployment Rate","Rural 2013", "Urban 2013", "Metro 2013"], axis=1)
employment_data_only = employment_data.drop(["Median Household Income 2017", "Median HH Income (%) 2017"], axis=1)
employment_data = employment_data.set_index("State")
employment_data = employment_data.drop('PR')

employment_data_only = employment_data_only.set_index("State")
employment_data_only = employment_data_only.drop('PR')
employment_data_only = employment_data_only.fillna('-')
employment_data = employment_data.fillna('-')
data_

def parseFloat(data):
    parsedData = re.sub( '[^\d\.]', '', data)
    return (re.sub( '[^\d\.]', '', data)) if parsedData else 0
employment_d = employment_data_only.iloc[:,1:].applymap(parseFloat)
e = employment_d.astype('float')
e['County/State'] = employment_data_only['County/State']
e

,CLF 2007,Emp 2007,Unemp 2007,Unemp Rate 2007,CLF 2008,Emp 2008,Unemp 2008,Unemp Rate 2008,CLF 2009,Emp 2009,...,Unemp Rate 2016,CLF 2017,Emp 2017,Unemp 2017,Unemp Rate 2017,CLF 2018,Emp 2018,Unemp 2018,Unemp Rate 2018,County/State
State,,,,,,,,,,,,,,,,,,,,,
US,152191093.0,145156134.0,7034959.0,4.6,153761095.0,144860350.0,8900745.0,5.8,153825455.0,139594698.0,...,4.9,160273906.0,153293830.0,6980076.0,4.4,161640488.0,155344043.0,6296445.0,3.9,United States
AL,2175612.0,2089127.0,86485.0,4.0,2176489.0,2053477.0,123012.0,5.7,2162999.0,1924747.0,...,5.8,2178243.0,2081676.0,96567.0,4.4,2198837.0,2112347.0,86490.0,3.9,Alabama
AL,24383.0,23577.0,806.0,3.3,24687.0,23420.0,1267.0,5.1,24703.0,22301.0,...,5.1,25972.0,24958.0,1014.0,3.9,25957.0,25015.0,942.0,3.6,"Autauga County, AL"
AL,82659.0,80099.0,2560.0,3.1,83223.0,79372.0,3851.0,4.6,82451.0,74403.0,...,5.3,92090.0,88342.0,3748.0,4.1,93849.0,90456.0,3393.0,3.6,"Baldwin County, AL"
AL,10334.0,9684.0,650.0,6.3,10161.0,9267.0,894.0,8.8,10003.0,8572.0,...,8.3,8317.0,7831.0,486.0,5.8,8373.0,7940.0,433.0,5.2,"Barbour County, AL"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WY,23712.0,23184.0,528.0,2.2,24273.0,23697.0,576.0,2.4,24323.0,22765.0,...,6.1,21555.0,20576.0,979.0,4.5,21150.0,20254.0,896.0,4.2,"Sweetwater County, WY"
WY,14375.0,14058.0,317.0,2.2,14459.0,14036.0,423.0,2.9,13882.0,12917.0,...,3.5,15418.0,14983.0,435.0,2.8,15340.0,14876.0,464.0,3.0,"Teton County, WY"
WY,11113.0,10818.0,295.0,2.7,11512.0,11179.0,333.0,2.9,11570.0,10789.0,...,5.8,9103.0,8689.0,414.0,4.5,8931.0,8541.0,390.0,4.4,"Uinta County, WY"
WY,4194.0,4048.0,146.0,3.5,4291.0,4139.0,152.0,3.5,4404.0,4137.0,...,4.8,4112.0,3947.0,165.0,4.0,4058.0,3886.0,172.0,4.2,"Washakie County, WY"
WY,3159.0,3059.0,100.0,3.2,3225.0,3122.0,103.0,3.2,3313.0,3107.0,...,5.0,3754.0,3605.0,149.0,4.0,3731.0,3600.0,131.0,3.5,"Weston County, WY"

In [568]:
def us_employment(source):
    return source[["Emp 2007", "Emp 2008", 'Emp 2009',"Emp 2010", "Emp 2011", 'Emp 2012',"Emp 2013", "Emp 2014", 'Emp 2015',"Emp 2016", "Emp 2017", 'Emp 2018']]
us_data = employment_data_only.iloc[:1]
#us_data = employment_data_only.loc["US"]
us_employment(us_data)

,Emp 2007,Emp 2008,Emp 2009,Emp 2010,Emp 2011,Emp 2012,Emp 2013,Emp 2014,Emp 2015,Emp 2016,Emp 2017,Emp 2018
State,,,,,,,,,,,,
US,"145,156,134",144860350,"139,594,698","139,408,204","140,765,809","142,600,402","144,018,151","146,338,305","148,579,026","150,981,151","153,293,830","155,344,043"

In [404]:
def parse_employment_data(source, state_abbr):
    data = source.loc[state_abbr]
    return { 'counties': data.iloc[1:], 'state': data.iloc[:1] }

In [458]:
def employment(source):
    counties = source['counties'].set_index("County/State")
    return counties[["Emp 2007", "Emp 2008", 'Emp 2009',"Emp 2010", "Emp 2011", 'Emp 2012',"Emp 2013", "Emp 2014", 'Emp 2015',"Emp 2016", "Emp 2017", 'Emp 2018']]

In [459]:
def unemployment(source):
    counties = source['counties'].set_index("County/State")
    return counties[["Unemp 2007", "Unemp 2008", 'Unemp 2009',"Unemp 2010", "Unemp 2011", 'Unemp 2012',"Unemp 2013", "Unemp 2014", 'Unemp 2015',"Unemp 2016", "Unemp 2017", 'Unemp 2018']]

In [460]:
def state_emp(source):
    state = source['state'].set_index("County/State")
    return state[["Emp 2007", "Emp 2008", 'Emp 2009',"Emp 2010", "Emp 2011", 'Emp 2012',"Emp 2013", "Emp 2014", 'Emp 2015',"Emp 2016", "Emp 2017", 'Emp 2018']]

In [563]:
def civilian_labor_force(source):
    counties = source['counties'].set_index("County/State")
    return counties[["CLF 2007", "CLF 2008", 'CLF 2009',"CLF 2010", "CLF 2011", 'CLF 2012',"CLF 2013", "CLF 2014", 'CLF 2015',"CLF 2016", "CLF 2017", 'CLF 2018']]

KeyError: 'counties'

In [461]:
alabama_data = parse_employment_data(e, "AL")
alabama_employment = employment(alabama_data)
alabama_unemployment = unemployment(alabama_data)
alabama_st_emp = state_emp(alabama_data)
alabama_st_emp

,Emp 2007,Emp 2008,Emp 2009,Emp 2010,Emp 2011,Emp 2012,Emp 2013,Emp 2014,Emp 2015,Emp 2016,Emp 2017,Emp 2018
County/State,,,,,,,,,,,,
Alabama,2089127.0,2053477.0,1924747.0,1964559.0,1990413.0,2003290.0,2017043.0,2014290.0,2026898.0,2049971.0,2081676.0,2112347.0

In [462]:
alaska_data = parse_employment_data(e, "AK")
alaska_employment = employment(alaska_data)
alaska_unemployment = unemployment(alaska_data)
alabama_st_emp = state_emp(alabama_data)
#frames = [alabama_employment,alaska_employment]
#results = pd.concat(frames)
#results.plot.line()

In [515]:
arizona_data = parse_employment_data(e, "AZ")

arizona_employment = employment(arizona_data)
arizona_unemployment = unemployment(arizona_data)
arizona_st_emp = state_emp(arizona_data)

In [516]:
arkansas_data = parse_employment_data(e, "AR")
arkansas_employment = employment(arkansas_data)
arkansas_unemployment = unemployment(arkansas_data)
arkansas_st_emp = state_emp(arkansas_data)

In [517]:
california_data = parse_employment_data(e, "CA")
california_employment = employment(california_data)
california_unemployment = unemployment(california_data)
california_st_emp = state_emp(california_data)

In [518]:
colorado_data = parse_employment_data(e, "CO")
colorado_employment = employment(colorado_data)
colorado_unemployment = unemployment(colorado_data)
colorado_st_emp = state_emp(colorado_data)

In [519]:
connecticut_data = parse_employment_data(e, "CT")
connecticut_employment = employment(connecticut_data)
connecticut_unemployment = unemployment(connecticut_data)
connecticut_st_emp = state_emp(connecticut_data)

In [521]:
delaware_data = parse_employment_data(e, "DE")
delaware_employment = employment(delaware_data)
delaware_unemployment = unemployment(delaware_data)
delaware_st_emp = state_emp(delaware_data)

In [522]:
florida_data = parse_employment_data(e, "FL")
florida_employment = employment(florida_data)
florida_unemployment = unemployment(florida_data)
florida_st_emp = state_emp(florida_data)

In [523]:
georgia_data = parse_employment_data(e, "GA")
georgia_employment = employment(georgia_data)
georgia_unemployment = unemployment(georgia_data)
georgia_st_emp = state_emp(georgia_data)

In [524]:
hawaii_data = parse_employment_data(e, "HI")
hawaii_employment = employment(hawaii_data)
hawaii_unemployment = unemployment(hawaii_data)
hawaii_st_emp = state_emp(hawaii_data)

In [525]:
idaho_data = parse_employment_data(e, "ID")
idaho_employment = employment(idaho_data)
idaho_unemployment = unemployment(idaho_data)
idaho_st_emp = state_emp(idaho_data)

In [526]:
illinois_data = parse_employment_data(e, "IL")
illinois_employment = employment(illinois_data)
illinois_unemployment = unemployment(illinois_data)
illinois_st_emp = state_emp(illinois_data)

In [527]:
indiana_data = parse_employment_data(e, "IN")
indiana_employment = employment(indiana_data)
indiana_unemployment = unemployment(indiana_data)
indiana_st_emp = state_emp(indiana_data)

In [528]:
iowa_data = parse_employment_data(e, "IA")
iowa_employment = employment(iowa_data)
iowa_unemployment = unemployment(iowa_data)
iowa_st_emp = state_emp(iowa_data)

In [529]:
kansas_data = parse_employment_data(e, "KS")
kansas_employment = employment(kansas_data)
kansas_unemployment = unemployment(kansas_data)
kansas_st_emp = state_emp(kansas_data)

In [530]:
kentucky_data = parse_employment_data(e, "KY")
kentucky_employment = employment(kentucky_data)
kentucky_unemployment = unemployment(kentucky_data)
kentucky_st_emp = state_emp(kentucky_data)

In [531]:
louisiana_data = parse_employment_data(e, "LA")
louisiana_employment = employment(louisiana_data)
louisiana_unemployment = unemployment(louisiana_data)
louisiana_st_emp = state_emp(louisiana_data)

In [532]:
maine_data = parse_employment_data(e, "ME")
maine_employment = employment(maine_data)
maine_unemployment = unemployment(maine_data)
maine_st_emp = state_emp(maine_data)

In [533]:
maryland_data = parse_employment_data(e, "MD")
maryland_employment = employment(maryland_data)
maryland_unemployment = unemployment(maryland_data)
maryland_st_emp = state_emp(maryland_data)

In [534]:
massachusetts_data = parse_employment_data(e, "MA")
massachusetts_employment = employment(massachusetts_data)
massachusetts_unemployment = unemployment(massachusetts_data)
massachusetts_st_emp = state_emp(massachusetts_data)

In [535]:
michigan_data = parse_employment_data(e, "MI")
michigan_employment = employment(michigan_data)
michigan_unemployment = unemployment(michigan_data)
michigan_st_emp = state_emp(michigan_data)

In [536]:
minnesota_data = parse_employment_data(e, "MN")
minnesota_employment = employment(minnesota_data)
minnesota_unemployment = unemployment(minnesota_data)
minnesota_st_emp = state_emp(minnesota_data)

In [537]:
mississippi_data = parse_employment_data(e, "MS")
mississippi_employment = employment(mississippi_data)
mississippi_unemployment = unemployment(mississippi_data)
mississippi_st_emp = state_emp(mississippi_data)

In [538]:
missouri_data = parse_employment_data(e, "MO")
missouri_employment = employment(missouri_data)
missouri_unemployment = unemployment(missouri_data)
missouri_st_emp = state_emp(missouri_data)

In [539]:
montana_data = parse_employment_data(e, "MT")
montana_employment = employment(montana_data)
montana_unemployment = unemployment(montana_data)
montana_st_emp = state_emp(montana_data)

In [540]:
nebraska_data = parse_employment_data(e, "NE")
nebraska_employment = employment(nebraska_data)
nebraska_unemployment = unemployment(nebraska_data)
nebraska_st_emp = state_emp(nebraska_data)

In [488]:
nevada_data = parse_employment_data(e, "NV")
nevada_employment = employment(nevada_data)
nevada_unemployment = unemployment(nevada_data)
nevada_st_emp = state_emp(nevada_data)

In [541]:
new_hampshire_data = parse_employment_data(e, "NH")
new_hampshire_employment = employment(new_hampshire_data)
new_hampshire_unemployment = unemployment(new_hampshire_data)
new_hampshire_st_emp = state_emp(new_hampshire_data)

In [542]:
new_jersey_data = parse_employment_data(e, "NJ")
new_jersey_employment = employment(new_jersey_data)
new_jersey_unemployment = unemployment(new_jersey_data)
new_jersey_st_emp = state_emp(new_jersey_data)

In [543]:
new_mexico_data = parse_employment_data(e, "NM")
new_mexico_employment = employment(new_mexico_data)
new_mexico_unemployment = unemployment(new_mexico_data)
new_mexico_st_emp = state_emp(new_mexico_data)

In [544]:
new_york_data = parse_employment_data(e, "NY")
new_york_employment = employment(new_york_data)
new_york_unemployment = unemployment(new_york_data)
new_york_st_emp = state_emp(new_york_data)

In [545]:
north_carolina_data = parse_employment_data(e, "NC")
north_carolina_employment = employment(north_carolina_data)
north_carolina_unemployment = unemployment(north_carolina_data)
north_carolina_st_emp = state_emp(north_carolina_data)

In [546]:
north_dakota_data = parse_employment_data(e, "ND")
north_dakota_employment = employment(north_dakota_data)
north_dakota_unemployment = unemployment(north_dakota_data)
north_dakota_st_emp = state_emp(north_dakota_data)

In [547]:
ohio_data = parse_employment_data(e, "OH")
ohio_employment = employment(ohio_data)
ohio_unemployment = unemployment(ohio_data)
ohio_st_emp = state_emp(ohio_data)

In [548]:
oklahoma_data = parse_employment_data(e, "OK")
oklahoma_employment = employment(oklahoma_data)
oklahoma_unemployment = unemployment(oklahoma_data)
oklahoma_st_emp = state_emp(oklahoma_data)

In [549]:
oregon_data = parse_employment_data(e, "OR")
oregon_employment = employment(oregon_data)
oregon_unemployment = unemployment(oregon_data)
oregon_st_emp = state_emp(oregon_data)

In [550]:
pennsylvania_data = parse_employment_data(e, "PA")
pennsylvania_employment = employment(pennsylvania_data)
pennsylvania_unemployment = unemployment(pennsylvania_data)
pennsylvania_st_emp = state_emp(pennsylvania_data)

In [551]:
rhode_island_data = parse_employment_data(e, "RI")
rhode_island_employment = employment(rhode_island_data)
rhode_island_unemployment = unemployment(rhode_island_data)
rhode_island_st_emp = state_emp(rhode_island_data)

In [552]:
south_carolina_data = parse_employment_data(e, "SC")
south_carolina_employment = employment(south_carolina_data)
south_carolina_unemployment = unemployment(south_carolina_data)
south_carolina_st_emp = state_emp(south_carolina_data)

In [553]:
south_dakota_data = parse_employment_data(e, "SD")
south_dakota_employment = employment(south_dakota_data)
south_dakota_unemployment = unemployment(south_dakota_data)
south_dakota_st_emp = state_emp(south_dakota_data)

In [554]:
tennessee_data = parse_employment_data(e, "TN")
tennessee_employment = employment(tennessee_data)
tennessee_unemployment = unemployment(tennessee_data)
tennessee_st_emp = state_emp(tennessee_data)

In [555]:
texas_data = parse_employment_data(e, "TX")
texas_employment = employment(texas_data)
texas_unemployment = unemployment(texas_data)
texas_st_emp = state_emp(texas_data)

In [556]:
utah_data = parse_employment_data(e, "UT")
utah_employment = employment(utah_data)
utah_unemployment = unemployment(utah_data)
utah_st_emp = state_emp(utah_data)

In [557]:
vermont_data = parse_employment_data(e, "VT")
vermont_employment = employment(vermont_data)
vermont_unemployment = unemployment(vermont_data)
vermont_st_emp = state_emp(vermont_data)

In [558]:
virginia_data = parse_employment_data(e, "VA")
virginia_employment = employment(virginia_data)
virginia_unemployment = unemployment(virginia_data)
virginia_st_emp = state_emp(virginia_data)

In [559]:
washington_data = parse_employment_data(e, "WA")
washington_employment = employment(washington_data)
washington_unemployment = unemployment(washington_data)
washington_st_emp = state_emp(washington_data)

In [560]:
west_virginia_data = parse_employment_data(e, "WV")
west_virginia_employment = employment(west_virginia_data)
west_virginia_unemployment = unemployment(west_virginia_data)
west_virginia_st_emp = state_emp(west_virginia_data)

In [561]:
wisconsin_data = parse_employment_data(e, "WI")
wisconsin_employment = employment(wisconsin_data)
wisconsin_unemployment = unemployment(wisconsin_data)
wisconsin_st_emp = state_emp(wisconsin_data)

In [562]:
wyoming_data = parse_employment_data(e, "WY")
wyoming_employment = employment(wyoming_data)
wyoming_unemployment = unemployment(wyoming_data)
wyoming_st_emp = state_emp(wyoming_data)
#wyoming_employment.plot.bar(figsize=(20,20))