In [ ]:
#cleaning Unemployment by State data

In [685]:
import csv
import pandas as pd
import matplotlib.pyplot as plt
import re

In [686]:
employment_data = pd.read_csv("./Data/Unemployment and Household Income 2007-08.csv")
employment_data = employment_data.iloc[7:,]
employment_data = employment_data.rename(columns={"Unemployment and median household income for the U.S., States, and counties, 2007-18":"Unemployment Rate","Unnamed: 1": "State", "Unnamed: 2": "County/State","Unnamed: 3":"Rural 2013","Unnamed: 4":"Urban 2013","Unnamed: 5":"Metro 2013","Unnamed: 6":"CLF 2007","Unnamed: 7":"Emp 2007","Unnamed: 8":"Unemp 2007","Unnamed: 9":"Unemp Rate 2007","Unnamed: 10":"CLF 2008","Unnamed: 11":"Emp 2008","Unnamed: 12":"Unemp 2008","Unnamed: 13":"Unemp Rate 2008","Unnamed: 14":"CLF 2009","Unnamed: 15":"Emp 2009","Unnamed: 16":"Unemp 2009","Unnamed: 17":"Unemp Rate 2009","Unnamed: 18":"CLF 2010","Unnamed: 19":"Emp 2010","Unnamed: 20":"Unemp 2010","Unnamed: 21":"Unemp Rate 2010","Unnamed: 22":"CLF 2011","Unnamed: 23":"Emp 2011","Unnamed: 24":"Unemp 2011","Unnamed: 25":"Unemp Rate 2011","Unnamed: 26":"CLF 2012","Unnamed: 27":"Emp 2012","Unnamed: 28":"Unemp 2012","Unnamed: 29":"Unemp Rate 2012","Unnamed: 30":"CLF 2013","Unnamed: 31":"Emp 2013","Unnamed: 32":"Unemp 2013","Unnamed: 33":"Unemp Rate 2013","Unnamed: 34":"CLF 2014","Unnamed: 35":"Emp 2014","Unnamed: 36":"Unemp 2014","Unnamed: 37":"Unemp Rate 2014","Unnamed: 38":"CLF 2015","Unnamed: 39":"Emp 2015","Unnamed: 40":"Unemp 2015","Unnamed: 41":"Unemp Rate 2015","Unnamed: 42":"CLF 2016","Unnamed: 43":"Emp 2016","Unnamed: 44":"Unemp 2016","Unnamed: 45":"Unemp Rate 2016","Unnamed: 46":"CLF 2017","Unnamed: 47":"Emp 2017","Unnamed: 48":"Unemp 2017","Unnamed: 49":"Unemp Rate 2017","Unnamed: 50":"CLF 2018","Unnamed: 51":"Emp 2018","Unnamed: 52":"Unemp 2018","Unnamed: 53":"Unemp Rate 2018", "Unnamed: 54": "Median Household Income 2017", "Unnamed: 55": "Median HH Income (%) 2017"})
employment_data = employment_data.drop(["Unemployment Rate","Rural 2013", "Urban 2013", "Metro 2013"], axis=1)
employment_data_only = employment_data.drop(["Median Household Income 2017", "Median HH Income (%) 2017"], axis=1)
employment_data = employment_data.set_index("State")
employment_data = employment_data.drop('PR')

employment_data_only = employment_data_only.set_index("State")
employment_data_only = employment_data_only.drop('PR')
employment_data_only = employment_data_only.fillna('-')
employment_data = employment_data.fillna('-')
data_

def parseFloat(data):
    parsedData = re.sub( '[^\d\.]', '', data)
    return (re.sub( '[^\d\.]', '', data)) if parsedData else 0
employment_d = employment_data_only.iloc[:,1:].applymap(parseFloat)
e = employment_d.astype('float')
e['County/State'] = employment_data_only['County/State']
e.head()

,CLF 2007,Emp 2007,Unemp 2007,Unemp Rate 2007,CLF 2008,Emp 2008,Unemp 2008,Unemp Rate 2008,CLF 2009,Emp 2009,...,Unemp Rate 2016,CLF 2017,Emp 2017,Unemp 2017,Unemp Rate 2017,CLF 2018,Emp 2018,Unemp 2018,Unemp Rate 2018,County/State
State,,,,,,,,,,,,,,,,,,,,,
US,152191093.0,145156134.0,7034959.0,4.6,153761095.0,144860350.0,8900745.0,5.8,153825455.0,139594698.0,...,4.9,160273906.0,153293830.0,6980076.0,4.4,161640488.0,155344043.0,6296445.0,3.9,United States
AL,2175612.0,2089127.0,86485.0,4.0,2176489.0,2053477.0,123012.0,5.7,2162999.0,1924747.0,...,5.8,2178243.0,2081676.0,96567.0,4.4,2198837.0,2112347.0,86490.0,3.9,Alabama
AL,24383.0,23577.0,806.0,3.3,24687.0,23420.0,1267.0,5.1,24703.0,22301.0,...,5.1,25972.0,24958.0,1014.0,3.9,25957.0,25015.0,942.0,3.6,"Autauga County, AL"
AL,82659.0,80099.0,2560.0,3.1,83223.0,79372.0,3851.0,4.6,82451.0,74403.0,...,5.3,92090.0,88342.0,3748.0,4.1,93849.0,90456.0,3393.0,3.6,"Baldwin County, AL"
AL,10334.0,9684.0,650.0,6.3,10161.0,9267.0,894.0,8.8,10003.0,8572.0,...,8.3,8317.0,7831.0,486.0,5.8,8373.0,7940.0,433.0,5.2,"Barbour County, AL"

In [687]:
def us_employment(source):
    return source[["Emp 2007", "Emp 2008", 'Emp 2009',"Emp 2010", "Emp 2011", 'Emp 2012',"Emp 2013", "Emp 2014", 'Emp 2015',"Emp 2016", "Emp 2017", 'Emp 2018']]
us_data = employment_data_only.iloc[:1]
#us_data = employment_data_only.loc["US"]
us_employment = us_employment(us_data)

In [688]:
def us_unemployment(source):
    return source[["Unemp 2007", "Unemp 2008", 'Unemp 2009',"Unemp 2010", "Unemp 2011", 'Unemp 2012',"Unemp 2013", "Unemp 2014", 'Unemp 2015',"Unemp 2016", "Unemp 2017", 'Unemp 2018']]
us_unemployment = us_unemployment(us_data)

In [732]:
def parse_employment_data(source, state_abbr):
    data = source.loc[state_abbr]
    return { 'counties': data.iloc[1:], 'state': data.iloc[:1] }

In [690]:
def employment(source):
    counties = source['counties'].set_index("County/State")
    return counties[["Emp 2007", "Emp 2008", 'Emp 2009',"Emp 2010", "Emp 2011", 'Emp 2012',"Emp 2013", "Emp 2014", 'Emp 2015',"Emp 2016", "Emp 2017", 'Emp 2018']]

In [628]:
def unemployment(source):
    counties = source['counties'].set_index("County/State")
    return counties[["Unemp Rate 2007", "Unemp Rate 2008", 'Unemp Rate 2009',"Unemp Rate 2010", "Unemp Rate 2011", 'Unemp Rate 2012',"Unemp Rate 2013", "Unemp Rate 2014", 'Unemp Rate 2015',"Unemp Rate 2016", "Unemp Rate 2017", 'Unemp Rate 2018']]

In [629]:
def state_emp(source):
    state = source['state'].set_index("County/State")
    return state[["Emp 2007", "Emp 2008", 'Emp 2009',"Emp 2010", "Emp 2011", 'Emp 2012',"Emp 2013", "Emp 2014", 'Emp 2015',"Emp 2016", "Emp 2017", 'Emp 2018']]

In [630]:
def state_unemp(source):
    state = source['state'].set_index("County/State")
    return state[["Unemp Rate 2007", "Unemp Rate 2008", 'Unemp Rate 2009',"Unemp Rate 2010", "Unemp Rate 2011", 'Unemp Rate 2012',"Unemp Rate 2013", "Unemp Rate 2014", 'Unemp Rate 2015',"Unemp Rate 2016", "Unemp Rate 2017", 'Unemp Rate 2018']]

In [691]:
def civilian_labor_force(source):
    counties = source['counties'].set_index("County/State")
    return counties[["CLF 2007", "CLF 2008", 'CLF 2009',"CLF 2010", "CLF 2011", 'CLF 2012',"CLF 2013", "CLF 2014", 'CLF 2015',"CLF 2016", "CLF 2017", 'CLF 2018']]

In [736]:
alabama_data = parse_employment_data(e, "AL")
alabama_employment = employment(alabama_data)
alabama_unemployment = unemployment(alabama_data)
alabama_st_emp = state_emp(alabama_data)
alabama_st_unemp = state_unemp(alabama_data)
data = e.loc['AL']
alabama = data.iloc[:1]

In [737]:
alaska_data = parse_employment_data(e, "AK")
alaska_employment = employment(alaska_data)
alaska_unemployment = unemployment(alaska_data)
alaska_st_emp = state_emp(alaska_data)
alaska_st_unemp = state_unemp(alaska_data)
data0 = e.loc['AK']
alaska = data0.iloc[:1]

In [738]:
arizona_data = parse_employment_data(e, "AZ")

arizona_employment = employment(arizona_data)
arizona_unemployment = unemployment(arizona_data)
arizona_st_emp = state_emp(arizona_data)
arizona_st_unemp = state_unemp(arizona_data)

data1 = e.loc['AZ']
arizona = data1.iloc[:1]

In [739]:
arkansas_data = parse_employment_data(e, "AR")
arkansas_employment = employment(arkansas_data)
arkansas_unemployment = unemployment(arkansas_data)
arkansas_st_emp = state_emp(arkansas_data)
arkansas_st_unemp = state_unemp(arkansas_data)
data2 = e.loc['AR']
arkansas = data2.iloc[:1]

In [740]:
california_data = parse_employment_data(e, "CA")
california_employment = employment(california_data)
california_unemployment = unemployment(california_data)
california_st_emp = state_emp(california_data)
california_st_unemp = state_unemp(california_data)
data3 = e.loc['CA']
california = data3.iloc[:1]

In [741]:
colorado_data = parse_employment_data(e, "CO")
colorado_employment = employment(colorado_data)
colorado_unemployment = unemployment(colorado_data)
colorado_st_emp = state_emp(colorado_data)
colorado_st_unemp = state_unemp(colorado_data)
data4 = e.loc['CO']
colorado = data4.iloc[:1]

In [742]:
connecticut_data = parse_employment_data(e, "CT")
connecticut_employment = employment(connecticut_data)
connecticut_unemployment = unemployment(connecticut_data)
connecticut_st_emp = state_emp(connecticut_data)
connecticut_st_unemp = state_unemp(connecticut_data)
data5 = e.loc['CT']
connecticut = data5.iloc[:1]

In [639]:
delaware_data = parse_employment_data(e, "DE")
delaware_employment = employment(delaware_data)
delaware_unemployment = unemployment(delaware_data)
delaware_st_emp = state_emp(delaware_data)
delaware_st_unemp = state_unemp(delaware_data)
data6 = e.loc['DE']
delaware = data6.iloc[:1]

In [743]:
florida_data = parse_employment_data(e, "FL")
florida_employment = employment(florida_data)
florida_unemployment = unemployment(florida_data)
florida_st_emp = state_emp(florida_data)
florida_st_unemp = state_unemp(florida_data)
data7 = e.loc['FL']
florida = data7.iloc[:1]

In [744]:
georgia_data = parse_employment_data(e, "GA")
georgia_employment = employment(georgia_data)
georgia_unemployment = unemployment(georgia_data)
georgia_st_emp = state_emp(georgia_data)
georgia_st_unemp = state_unemp(georgia_data)
data8 = e.loc['GA']
georgia = data8.iloc[:1]

In [745]:
hawaii_data = parse_employment_data(e, "HI")
hawaii_employment = employment(hawaii_data)
hawaii_unemployment = unemployment(hawaii_data)
hawaii_st_emp = state_emp(hawaii_data)
hawaii_st_unemp = state_unemp(hawaii_data)
data9 = e.loc['HI']
hawaii = data9.iloc[:1]

In [746]:
idaho_data = parse_employment_data(e, "ID")
idaho_employment = employment(idaho_data)
idaho_unemployment = unemployment(idaho_data)
idaho_st_emp = state_emp(idaho_data)
idaho_st_unemp = state_unemp(idaho_data)
data00 = e.loc['ID']
idaho = data00.iloc[:1]

In [747]:
illinois_data = parse_employment_data(e, "IL")
illinois_employment = employment(illinois_data)
illinois_unemployment = unemployment(illinois_data)
illinois_st_emp = state_emp(illinois_data)
illinois_st_unemp = state_unemp(illinois_data)
data01 = e.loc['IL']
illinois = data01.iloc[:1]

In [645]:
indiana_data = parse_employment_data(e, "IN")
indiana_employment = employment(indiana_data)
indiana_unemployment = unemployment(indiana_data)
indiana_st_emp = state_emp(indiana_data)
indiana_st_unemp = state_unemp(indiana_data)
data02 = e.loc['IN']
indiana = data02.iloc[:1]

In [748]:
iowa_data = parse_employment_data(e, "IA")
iowa_employment = employment(iowa_data)
iowa_unemployment = unemployment(iowa_data)
iowa_st_emp = state_emp(iowa_data)
iowa_st_unemp = state_unemp(iowa_data)
data03 = e.loc['IA']
iowa = data03.iloc[:1]

In [749]:
kansas_data = parse_employment_data(e, "KS")
kansas_employment = employment(kansas_data)
kansas_unemployment = unemployment(kansas_data)
kansas_st_emp = state_emp(kansas_data)
kansas_st_unemp = state_unemp(kansas_data)
data04 = e.loc['KS']
kansas = data04.iloc[:1]

In [750]:
kentucky_data = parse_employment_data(e, "KY")
kentucky_employment = employment(kentucky_data)
kentucky_unemployment = unemployment(kentucky_data)
kentucky_st_emp = state_emp(kentucky_data)
kentucky_st_unemp = state_unemp(kentucky_data)
data05 = e.loc['KY']
kentucky = data05.iloc[:1]

In [751]:
louisiana_data = parse_employment_data(e, "LA")
louisiana_employment = employment(louisiana_data)
louisiana_unemployment = unemployment(louisiana_data)
louisiana_st_emp = state_emp(louisiana_data)
louisiana_st_unemp = state_unemp(louisiana_data)
data06 = e.loc['LA']
louisianna = data06.iloc[:1]

In [752]:
maine_data = parse_employment_data(e, "ME")
maine_employment = employment(maine_data)
maine_unemployment = unemployment(maine_data)
maine_st_emp = state_emp(maine_data)
maine_st_unemp = state_unemp(maine_data)
data07 = e.loc['ME']
maine= data07.iloc[:1]

In [753]:
maryland_data = parse_employment_data(e, "MD")
maryland_employment = employment(maryland_data)
maryland_unemployment = unemployment(maryland_data)
maryland_st_emp = state_emp(maryland_data)
maryland_st_unemp = state_unemp(maryland_data)
data08 = e.loc['MD']
maryland = data08.iloc[:1]

In [754]:
massachusetts_data = parse_employment_data(e, "MA")
massachusetts_employment = employment(massachusetts_data)
massachusetts_unemployment = unemployment(massachusetts_data)
massachusetts_st_emp = state_emp(massachusetts_data)
massachusetts_st_unemp = state_unemp(massachusetts_data)
data09 = e.loc['MA']
massachusetts = data09.iloc[:1]

In [755]:
michigan_data = parse_employment_data(e, "MI")
michigan_employment = employment(michigan_data)
michigan_unemployment = unemployment(michigan_data)
michigan_st_emp = state_emp(michigan_data)
michigan_st_unemp = state_unemp(michigan_data)
data10 = e.loc['MI']
michigan = data10.iloc[:1]

In [757]:
minnesota_data = parse_employment_data(e, "MN")
minnesota_employment = employment(minnesota_data)
minnesota_unemployment = unemployment(minnesota_data)
minnesota_st_emp = state_emp(minnesota_data)
minnesota_st_unemp = state_unemp(minnesota_data)
data11 = e.loc['MN']
minnesota = data11.iloc[:1]

In [758]:
mississippi_data = parse_employment_data(e, "MS")
mississippi_employment = employment(mississippi_data)
mississippi_unemployment = unemployment(mississippi_data)
mississippi_st_emp = state_emp(mississippi_data)
mississippi_st_unemp = state_unemp(mississippi_data)
data12 = e.loc['MS']
mississippi = data12.iloc[:1]

In [759]:
missouri_data = parse_employment_data(e, "MO")
missouri_employment = employment(missouri_data)
missouri_unemployment = unemployment(missouri_data)
missouri_st_emp = state_emp(missouri_data)
missouri_st_unemp = state_unemp(missouri_data)
data13 = e.loc['MO']
missouri = data13.iloc[:1]

In [760]:
montana_data = parse_employment_data(e, "MT")
montana_employment = employment(montana_data)
montana_unemployment = unemployment(montana_data)
montana_st_emp = state_emp(montana_data)
montana_st_unemp = state_unemp(montana_data)
data14 = e.loc['MT']
montana = data14.iloc[:1]

In [761]:
nebraska_data = parse_employment_data(e, "NE")
nebraska_employment = employment(nebraska_data)
nebraska_unemployment = unemployment(nebraska_data)
nebraska_st_emp = state_emp(nebraska_data)
nebraska_st_unemp = state_unemp(nebraska_data)
data14 = e.loc['NE']
nebraska = data14.iloc[:1]

In [762]:
nevada_data = parse_employment_data(e, "NV")
nevada_employment = employment(nevada_data)
nevada_unemployment = unemployment(nevada_data)
nevada_st_emp = state_emp(nevada_data)
nevada_st_unemp = state_unemp(nevada_data)
data14 = e.loc['NV']
nevada = data14.iloc[:1]

In [763]:
new_hampshire_data = parse_employment_data(e, "NH")
new_hampshire_employment = employment(new_hampshire_data)
new_hampshire_unemployment = unemployment(new_hampshire_data)
new_hampshire_st_emp = state_emp(new_hampshire_data)
new_hampshire_st_unemp = state_unemp(new_hampshire_data)
data15 = e.loc['NH']
new_hampshire = data15.iloc[:1]

In [764]:
new_jersey_data = parse_employment_data(e, "NJ")
new_jersey_employment = employment(new_jersey_data)
new_jersey_unemployment = unemployment(new_jersey_data)
new_jersey_st_emp = state_emp(new_jersey_data)
new_jersey_st_unemp = state_unemp(new_jersey_data)
data16 = e.loc['NJ']
new_jersey = data16.iloc[:1]

In [765]:
new_mexico_data = parse_employment_data(e, "NM")
new_mexico_employment = employment(new_mexico_data)
new_mexico_unemployment = unemployment(new_mexico_data)
new_mexico_st_emp = state_emp(new_mexico_data)
new_mexico_st_unemp = state_unemp(new_mexico_data)
data17 = e.loc['NM']
new_mexico = data17.iloc[:1]

In [766]:
new_york_data = parse_employment_data(e, "NY")
new_york_employment = employment(new_york_data)
new_york_unemployment = unemployment(new_york_data)
new_york_st_emp = state_emp(new_york_data)
new_york_st_unemp = state_unemp(new_york_data)
data18 = e.loc['NY']
new_york = data18.iloc[:1]

In [767]:
north_carolina_data = parse_employment_data(e, "NC")
north_carolina_employment = employment(north_carolina_data)
north_carolina_unemployment = unemployment(north_carolina_data)
north_carolina_st_emp = state_emp(north_carolina_data)
north_carolina_st_unemp = state_unemp(north_carolina_data)
data19 = e.loc['NC']
north_carolina = data19.iloc[:1]

In [768]:
north_dakota_data = parse_employment_data(e, "ND")
north_dakota_employment = employment(north_dakota_data)
north_dakota_unemployment = unemployment(north_dakota_data)
north_dakota_st_emp = state_emp(north_dakota_data)
north_dakota_st_unemp = state_unemp(north_dakota_data)
data20 = e.loc['ND']
north_dakota = data20.iloc[:1]

In [769]:
ohio_data = parse_employment_data(e, "OH")
ohio_employment = employment(ohio_data)
ohio_unemployment = unemployment(ohio_data)
ohio_st_emp = state_emp(ohio_data)
ohio_st_unemp = state_unemp(ohio_data)
data21 = e.loc['OH']
ohio = data21.iloc[:1]

In [770]:
oklahoma_data = parse_employment_data(e, "OK")
oklahoma_employment = employment(oklahoma_data)
oklahoma_unemployment = unemployment(oklahoma_data)
oklahoma_st_emp = state_emp(oklahoma_data)
oklahoma_st_unemp = state_unemp(oklahoma_data)
data22 = e.loc['OK']
oklahoma= data22.iloc[:1]

In [771]:
oregon_data = parse_employment_data(e, "OR")
oregon_employment = employment(oregon_data)
oregon_unemployment = unemployment(oregon_data)
oregon_st_emp = state_emp(oregon_data)
oregon_st_unemp = state_unemp(oregon_data)
data23 = e.loc['OR']
oregon = data23.iloc[:1]

In [772]:
pennsylvania_data = parse_employment_data(e, "PA")
pennsylvania_employment = employment(pennsylvania_data)
pennsylvania_unemployment = unemployment(pennsylvania_data)
pennsylvania_st_emp = state_emp(pennsylvania_data)
pennsylvania_st_unemp = state_unemp(pennsylvania_data)
data24 = e.loc['PA']
pennsylvania = data24.iloc[:1]

In [773]:
rhode_island_data = parse_employment_data(e, "RI")
rhode_island_employment = employment(rhode_island_data)
rhode_island_unemployment = unemployment(rhode_island_data)
rhode_island_st_emp = state_emp(rhode_island_data)
rhode_island_st_unemp = state_unemp(rhode_island_data)
data25 = e.loc['RI']
rhode_island = data25.iloc[:1]

In [774]:
south_carolina_data = parse_employment_data(e, "SC")
south_carolina_employment = employment(south_carolina_data)
south_carolina_unemployment = unemployment(south_carolina_data)
south_carolina_st_emp = state_emp(south_carolina_data)
south_carolina_st_unemp = state_unemp(south_carolina_data)
data26 = e.loc['SC']
south_carolina = data26.iloc[:1]

In [775]:
south_dakota_data = parse_employment_data(e, "SD")
south_dakota_employment = employment(south_dakota_data)
south_dakota_unemployment = unemployment(south_dakota_data)
south_dakota_st_emp = state_emp(south_dakota_data)
south_dakota_st_unemp = state_unemp(south_dakota_data)
data27 = e.loc["SD"]
south_dakota = data27.iloc[:1]

In [776]:
tennessee_data = parse_employment_data(e, "TN")
tennessee_employment = employment(tennessee_data)
tennessee_unemployment = unemployment(tennessee_data)
tennessee_st_emp = state_emp(tennessee_data)
tennessee_st_unemp = state_unemp(tennessee_data)
data28 = e.loc['TN']
tennessee = data28.iloc[:1]

In [777]:
texas_data = parse_employment_data(e, "TX")
texas_employment = employment(texas_data)
texas_unemployment = unemployment(texas_data)
texas_st_emp = state_emp(texas_data)
texas_st_unemp = state_unemp(texas_data)
data29 = e.loc['TX']
texas = data7.iloc[:1]

In [778]:
utah_data = parse_employment_data(e, "UT")
utah_employment = employment(utah_data)
utah_unemployment = unemployment(utah_data)
utah_st_emp = state_emp(utah_data)
utah_st_unemp = state_unemp(utah_data)
data30 = e.loc['UT']
utah = data30.iloc[:1]

In [779]:
vermont_data = parse_employment_data(e, "VT")
vermont_employment = employment(vermont_data)
vermont_unemployment = unemployment(vermont_data)
vermont_st_emp = state_emp(vermont_data)
vermont_st_unemp = state_unemp(vermont_data)
data31 = e.loc['VT']
vermont = data31.iloc[:1]

In [780]:
virginia_data = parse_employment_data(e, "VA")
virginia_employment = employment(virginia_data)
virginia_unemployment = unemployment(virginia_data)
virginia_st_emp = state_emp(virginia_data)
virginia_st_unemp = state_unemp(virginia_data)
data32 = e.loc['VA']
virginia = data7.iloc[:1]

In [781]:
washington_data = parse_employment_data(e, "WA")
washington_employment = employment(washington_data)
washington_unemployment = unemployment(washington_data)
washington_st_emp = state_emp(washington_data)
washington_st_unemp = state_unemp(washington_data)
data33 = e.loc['WA']
washington = data33.iloc[:1]

In [782]:
west_virginia_data = parse_employment_data(e, "WV")
west_virginia_employment = employment(west_virginia_data)
west_virginia_unemployment = unemployment(west_virginia_data)
west_virginia_st_emp = state_emp(west_virginia_data)
west_virginia_st_unemp = state_unemp(west_virginia_data)
data34 = e.loc['WV']
west_virginia = data34.iloc[:1]

In [783]:
wisconsin_data = parse_employment_data(e, "WI")
wisconsin_employment = employment(wisconsin_data)
wisconsin_unemployment = unemployment(wisconsin_data)
wisconsin_st_emp = state_emp(wisconsin_data)
wisconsin_st_unemp = state_unemp(wisconsin_data)
data35 = e.loc['WI']
wisconsin = data35.iloc[:1]

In [784]:
wyoming_data = parse_employment_data(e, "WY")
wyoming_employment = employment(wyoming_data)
wyoming_unemployment = unemployment(wyoming_data)
wyoming_st_emp = state_emp(wyoming_data)
wyoming_st_unemp = state_unemp(wyoming_data)
data36 = e.loc['WY']
wyoming = data36.iloc[:1]
#wyoming_employment.plot.bar(figsize=(20,20))

In [791]:
frames = [alabama, alaska, arizona]
pd.concat(frames)

,CLF 2007,Emp 2007,Unemp 2007,Unemp Rate 2007,CLF 2008,Emp 2008,Unemp 2008,Unemp Rate 2008,CLF 2009,Emp 2009,...,Unemp Rate 2016,CLF 2017,Emp 2017,Unemp 2017,Unemp Rate 2017,CLF 2018,Emp 2018,Unemp 2018,Unemp Rate 2018,County/State
State,,,,,,,,,,,,,,,,,,,,,
AL,2175612.0,2089127.0,86485.0,4.0,2176489.0,2053477.0,123012.0,5.7,2162999.0,1924747.0,...,5.8,2178243.0,2081676.0,96567.0,4.4,2198837.0,2112347.0,86490.0,3.9,Alabama
AK,350785.0,328579.0,22206.0,6.3,356109.0,332285.0,23824.0,6.7,359647.0,331792.0,...,6.9,360759.0,335682.0,25077.0,7.0,356886.0,333375.0,23511.0,6.6,Alaska
AZ,3034016.0,2917117.0,116899.0,3.9,3104863.0,2913903.0,190960.0,6.2,3128110.0,2817577.0,...,5.4,3327949.0,3165127.0,162822.0,4.9,3439755.0,3273550.0,166205.0,4.8,Arizona