In [ ]:
#cleaning Unemployment by State data

In [71]:
import csv
import pandas as pd
import matplotlib.pyplot as plt
import re

In [122]:
employment_data = pd.read_csv("./Data/Unemployment and Household Income 2007-08.csv")
employment_data = employment_data.iloc[7:,]
employment_data = employment_data.rename(columns={"Unemployment and median household income for the U.S., States, and counties, 2007-18":"Unemployment Rate","Unnamed: 1": "State", "Unnamed: 2": "County/State","Unnamed: 3":"Rural 2013","Unnamed: 4":"Urban 2013","Unnamed: 5":"Metro 2013","Unnamed: 6":"CLF 2007","Unnamed: 7":"Emp 2007","Unnamed: 8":"Unemp 2007","Unnamed: 9":"Unemp Rate 2007","Unnamed: 10":"CLF 2008","Unnamed: 11":"Emp 2008","Unnamed: 12":"Unemp 2008","Unnamed: 13":"Unemp Rate 2008","Unnamed: 14":"CLF 2009","Unnamed: 15":"Emp 2009","Unnamed: 16":"Unemp 2009","Unnamed: 17":"Unemp Rate 2009","Unnamed: 18":"CLF 2010","Unnamed: 19":"Emp 2010","Unnamed: 20":"Unemp 2010","Unnamed: 21":"Unemp Rate 2010","Unnamed: 22":"CLF 2011","Unnamed: 23":"Emp 2011","Unnamed: 24":"Unemp 2011","Unnamed: 25":"Unemp Rate 2011","Unnamed: 26":"CLF 2012","Unnamed: 27":"Emp 2012","Unnamed: 28":"Unemp 2012","Unnamed: 29":"Unemp Rate 2012","Unnamed: 30":"CLF 2013","Unnamed: 31":"Emp 2013","Unnamed: 32":"Unemp 2013","Unnamed: 33":"Unemp Rate 2013","Unnamed: 34":"CLF 2014","Unnamed: 35":"Emp 2014","Unnamed: 36":"Unemp 2014","Unnamed: 37":"Unemp Rate 2014","Unnamed: 38":"CLF 2015","Unnamed: 39":"Emp 2015","Unnamed: 40":"Unemp 2015","Unnamed: 41":"Unemp Rate 2015","Unnamed: 42":"CLF 2016","Unnamed: 43":"Emp 2016","Unnamed: 44":"Unemp 2016","Unnamed: 45":"Unemp Rate 2016","Unnamed: 46":"CLF 2017","Unnamed: 47":"Emp 2017","Unnamed: 48":"Unemp 2017","Unnamed: 49":"Unemp Rate 2017","Unnamed: 50":"CLF 2018","Unnamed: 51":"Emp 2018","Unnamed: 52":"Unemp 2018","Unnamed: 53":"Unemp Rate 2018", "Unnamed: 54": "Median Household Income 2017", "Unnamed: 55": "Median HH Income (%) 2017"})
employment_data = employment_data.drop(["Unemployment Rate","Rural 2013", "Urban 2013", "Metro 2013", "CLF 2007", "Emp 2007", "Unemp 2007", "Unemp Rate 2007", "CLF 2008", "Emp 2008", "Unemp 2008", "Unemp Rate 2008", "CLF 2009", "Emp 2009", "Unemp 2009", "Unemp Rate 2009"], axis=1)
employment_data_only = employment_data.drop(["Median Household Income 2017", "Median HH Income (%) 2017"], axis=1)
employment_data = employment_data.set_index("State")
employment_data = employment_data.drop('PR')

employment_data_only = employment_data_only.set_index("State")
employment_data_only = employment_data_only.drop('PR')
employment_data_only = employment_data_only.fillna('-')
employment_data = employment_data.fillna('-')
data_

def parseFloat(data):
    parsedData = re.sub( '[^\d\.]', '', data)
    return (re.sub( '[^\d\.]', '', data)) if parsedData else 0
employment_d = employment_data_only.iloc[:,1:].applymap(parseFloat)
e = employment_d.astype('float')
e['County/State'] = employment_data_only['County/State']
e

,CLF 2010,Emp 2010,Unemp 2010,Unemp Rate 2010,CLF 2011,Emp 2011,Unemp 2011,Unemp Rate 2011,CLF 2012,Emp 2012,...,Unemp Rate 2016,CLF 2017,Emp 2017,Unemp 2017,Unemp Rate 2017,CLF 2018,Emp 2018,Unemp 2018,Unemp Rate 2018,County/State
State,,,,,,,,,,,,,,,,,,,,,
US,154270732.0,139408204.0,14862528.0,9.6,154606316.0,140765809.0,13840507.0,9.0,155119195.0,142600402.0,...,4.9,160273906.0,153293830.0,6980076.0,4.4,161640488.0,155344043.0,6296445.0,3.9,United States
AL,2196042.0,1964559.0,231483.0,10.5,2202670.0,1990413.0,212257.0,9.6,2176337.0,2003290.0,...,5.8,2178243.0,2081676.0,96567.0,4.4,2198837.0,2112347.0,86490.0,3.9,Alabama
AL,25713.0,23431.0,2282.0,8.9,25836.0,23677.0,2159.0,8.4,25740.0,23961.0,...,5.1,25972.0,24958.0,1014.0,3.9,25957.0,25015.0,942.0,3.6,"Autauga County, AL"
AL,83459.0,75120.0,8339.0,10.0,85045.0,77418.0,7627.0,9.0,84414.0,78065.0,...,5.3,92090.0,88342.0,3748.0,4.1,93849.0,90456.0,3393.0,3.6,"Baldwin County, AL"
AL,10221.0,8959.0,1262.0,12.3,9849.0,8712.0,1137.0,11.5,9362.0,8283.0,...,8.3,8317.0,7831.0,486.0,5.8,8373.0,7940.0,433.0,5.2,"Barbour County, AL"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WY,23134.0,21608.0,1526.0,6.6,23891.0,22633.0,1258.0,5.3,24138.0,22986.0,...,6.1,21555.0,20576.0,979.0,4.5,21150.0,20254.0,896.0,4.2,"Sweetwater County, WY"
WY,13611.0,12569.0,1042.0,7.7,13637.0,12614.0,1023.0,7.5,13805.0,12881.0,...,3.5,15418.0,14983.0,435.0,2.8,15340.0,14876.0,464.0,3.0,"Teton County, WY"
WY,10557.0,9815.0,742.0,7.0,10167.0,9537.0,630.0,6.2,10263.0,9689.0,...,5.8,9103.0,8689.0,414.0,4.5,8931.0,8541.0,390.0,4.4,"Uinta County, WY"
WY,4589.0,4318.0,271.0,5.9,4591.0,4335.0,256.0,5.6,4487.0,4254.0,...,4.8,4112.0,3947.0,165.0,4.0,4058.0,3886.0,172.0,4.2,"Washakie County, WY"
WY,4016.0,3822.0,194.0,4.8,3966.0,3785.0,181.0,4.6,3972.0,3811.0,...,5.0,3754.0,3605.0,149.0,4.0,3731.0,3600.0,131.0,3.5,"Weston County, WY"

In [111]:
data_ = data_.append(employment_data_only['County/State'])

AttributeError: 'NoneType' object has no attribute 'append'

In [94]:
us_data = employment_data_only.iloc[:1]
#us_data = employment_data_only.loc["US"]

In [95]:
def parse_employment_data(source, state_abbr):
    data = source.loc[state_abbr]
    return { 'counties': data.iloc[1:], 'state': data.iloc[:1] }

In [133]:
def employment(source):
    counties = source['counties']
    return counties[['County/State',"Emp 2010", "Emp 2011", 'Emp 2012',"Emp 2013", "Emp 2014", 'Emp 2015',"Emp 2016", "Emp 2017", 'Emp 2018']]

In [137]:
def unemployment(source):
    counties = source['counties']
    return counties[['County/State',"Unemp 2010", "Unemp 2011", 'Unemp 2012',"Unemp 2013", "Unemp 2014", 'Unemp 2015',"Unemp 2016", "Unemp 2017", 'Unemp 2018']]

In [138]:
def state_emp(source):
    state = source['state']
    return state[['County/State',"Emp 2010", "Emp 2011", 'Emp 2012',"Emp 2013", "Emp 2014", 'Emp 2015',"Emp 2016", "Emp 2017", 'Emp 2018']]

In [140]:
alabama_data = parse_employment_data(e, "AL")
alabama_employment = employment(alabama_data)
alabama_unemployment = unemployment(alabama_data)
alabama_st_emp = state_emp(alabama_data)
alabama_data['counties']

,CLF 2010,Emp 2010,Unemp 2010,Unemp Rate 2010,CLF 2011,Emp 2011,Unemp 2011,Unemp Rate 2011,CLF 2012,Emp 2012,...,Unemp Rate 2016,CLF 2017,Emp 2017,Unemp 2017,Unemp Rate 2017,CLF 2018,Emp 2018,Unemp 2018,Unemp Rate 2018,County/State
State,,,,,,,,,,,,,,,,,,,,,
AL,25713.0,23431.0,2282.0,8.9,25836.0,23677.0,2159.0,8.4,25740.0,23961.0,...,5.1,25972.0,24958.0,1014.0,3.9,25957.0,25015.0,942.0,3.6,"Autauga County, AL"
AL,83459.0,75120.0,8339.0,10.0,85045.0,77418.0,7627.0,9.0,84414.0,78065.0,...,5.3,92090.0,88342.0,3748.0,4.1,93849.0,90456.0,3393.0,3.6,"Baldwin County, AL"
AL,10221.0,8959.0,1262.0,12.3,9849.0,8712.0,1137.0,11.5,9362.0,8283.0,...,8.3,8317.0,7831.0,486.0,5.8,8373.0,7940.0,433.0,5.2,"Barbour County, AL"
AL,8934.0,7914.0,1020.0,11.4,8933.0,7996.0,937.0,10.5,8798.0,8047.0,...,6.4,8550.0,8174.0,376.0,4.4,8661.0,8317.0,344.0,4.0,"Bibb County, AL"
AL,24906.0,22460.0,2446.0,9.8,25123.0,22939.0,2184.0,8.7,24960.0,23244.0,...,5.4,24725.0,23726.0,999.0,4.0,25006.0,24128.0,878.0,3.5,"Blount County, AL"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
AL,93915.0,85273.0,8642.0,9.2,95463.0,87532.0,7931.0,8.3,95340.0,88683.0,...,5.6,99865.0,95692.0,4173.0,4.2,101569.0,97855.0,3714.0,3.7,"Tuscaloosa County, AL"
AL,27279.0,23815.0,3464.0,12.7,27092.0,24034.0,3058.0,11.3,26574.0,24136.0,...,7.4,24898.0,23639.0,1259.0,5.1,25132.0,24064.0,1068.0,4.2,"Walker County, AL"
AL,7385.0,6335.0,1050.0,14.2,7106.0,6070.0,1036.0,14.6,6875.0,6054.0,...,8.6,6691.0,6237.0,454.0,6.8,6667.0,6278.0,389.0,5.8,"Washington County, AL"
AL,3066.0,2261.0,805.0,26.3,2979.0,2289.0,690.0,23.2,2883.0,2308.0,...,14.4,2802.0,2481.0,321.0,11.5,2734.0,2472.0,262.0,9.6,"Wilcox County, AL"
AL,9883.0,8304.0,1579.0,16.0,9819.0,8492.0,1327.0,13.5,9607.0,8647.0,...,7.1,9693.0,9203.0,490.0,5.1,9781.0,9371.0,410.0,4.2,"Winston County, AL"

In [192]:
alaska_data = parse_employment_data(e, "AK")
alaska_employment = employment(alaska_data)
alaska_unemployment = unemployment(alaska_data)
alaska_employment.set_index('County/State')

,Emp 2010,Emp 2011,Emp 2012,Emp 2013,Emp 2014,Emp 2015,Emp 2016,Emp 2017,Emp 2018
County/State,,,,,,,,,
"Aleutians East Borough, AK",1917.0,2048.0,1993.0,2083.0,2125.0,2397.0,2517.0,2474.0,2252.0
"Aleutians West Census Area, AK",3755.0,4007.0,3972.0,3976.0,4260.0,3909.0,3846.0,3599.0,3487.0
"Anchorage Borough/municipality, AK",147539.0,149542.0,149897.0,150169.0,149849.0,148903.0,146890.0,144787.0,143602.0
"Bethel Census Area, AK",6114.0,6137.0,6103.0,6224.0,6131.0,6306.0,6214.0,6366.0,6455.0
"Bristol Bay Borough, AK",456.0,472.0,434.0,448.0,457.0,346.0,384.0,395.0,413.0
"Denali Borough, AK",891.0,879.0,903.0,943.0,961.0,977.0,995.0,1046.0,1003.0
"Dillingham Census Area, AK",1878.0,1883.0,1921.0,1916.0,1906.0,1844.0,1877.0,1869.0,1861.0
"Fairbanks North Star Borough, AK",45083.0,45238.0,45264.0,44514.0,44092.0,43877.0,43717.0,43590.0,43426.0
"Haines Borough, AK",1028.0,1050.0,997.0,1026.0,994.0,980.0,964.0,986.0,988.0
"Hoonah-Angoon Census Area, AK",915.0,933.0,950.0,959.0,967.0,962.0,1062.0,1002.0,1012.0
"Juneau Borough/city, AK",16848.0,16913.0,16991.0,16702.0,16578.0,16289.0,16559.0,16478.0,16470.0
"Kenai Peninsula Borough, AK",24310.0,24675.0,25003.0,25592.0,25759.0,25480.0,24847.0,24642.0,24453.0
"Ketchikan Gateway Borough, AK",6501.0,6560.0,6594.0,6606.0,6548.0,6485.0,6566.0,6659.0,6604.0
"Kodiak Island Borough, AK",5993.0,6281.0,6268.0,6183.0,6208.0,6303.0,6086.0,5999.0,5848.0
"Kusilvak Census Area, AK",2115.0,2177.0,2156.0,2124.0,2155.0,2161.0,2136.0,2218.0,2169.0
"Lake and Peninsula Borough, AK",517.0,542.0,540.0,539.0,539.0,565.0,573.0,634.0,653.0
"Matanuska-Susitna Borough, AK",38319.0,39390.0,39968.0,40253.0,41270.0,42647.0,43505.0,44337.0,44014.0
"Nome Census Area, AK",3595.0,3619.0,3690.0,3631.0,3617.0,3597.0,3565.0,3611.0,3636.0
"North Slope Borough, AK",3649.0,3690.0,3715.0,3772.0,4091.0,4060.0,3685.0,3334.0,3173.0
"Northwest Arctic Borough, AK",2560.0,2524.0,2554.0,2564.0,2494.0,2445.0,2490.0,2486.0,2508.0
"Petersburg Borough, AK",1698.0,1701.0,1725.0,1515.0,1433.0,1361.0,1319.0,1287.0,1282.0
"Prince of Wales-Hyder Census Area, AK",2276.0,2254.0,2247.0,2468.0,2457.0,2416.0,2431.0,2536.0,2584.0
"Prince of Wales-Outer Ketchikan Census Area, AK",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Sitka Borough/city, AK",4274.0,4348.0,4384.0,4371.0,4443.0,4390.0,4169.0,4243.0,4225.0
"Skagway Municipality, AK",614.0,600.0,648.0,695.0,709.0,719.0,715.0,745.0,754.0
"Skagway-Hoonah-Angoon Census Area, AK",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Southeast Fairbanks Census Area, AK",2816.0,2804.0,2647.0,2617.0,2535.0,2689.0,2674.0,2639.0,2658.0
"Valdez-Cordova Census Area, AK",4419.0,4449.0,4419.0,4444.0,4413.0,4459.0,4396.0,4500.0,4488.0
"Wrangell Borough/city, AK",945.0,972.0,942.0,974.0,972.0,950.0,975.0,970.0,977.0
"Wrangell-Petersburg Census Area, AK",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Yakutat Borough/city, AK",265.0,269.0,260.0,258.0,246.0,237.0,223.0,212.0,225.0
"Yukon-Koyukuk Census Area, AK",2125.0,2208.0,2291.0,2234.0,2095.0,1969.0,1990.0,2042.0,2156.0

In [142]:
arizona_data = parse_employment_data(e, "AZ")

arizona_employment = employment(arizona_data)
arizona_unemployment = unemployment(arizona_data)

In [143]:
arkansas_data = parse_employment_data(employment_data_only, "AR")
arkansas_employment = employment(arkansas_data)
arkansas_unemployment = unemployment(arkansas_data)

In [144]:
california_data = parse_employment_data(employment_data_only, "CA")
california_employment = employment(california_data)
california_unemployment = unemployment(california_data)

In [145]:
colorado_data = parse_employment_data(employment_data_only, "CO")
colorado_employment = employment(colorado_data)
colorado_unemployment = unemployment(colorado_data)

In [146]:
connecticut_data = parse_employment_data(employment_data_only, "CT")
connecticut_employment = employment(connecticut_data)
connecticut_unemployment = unemployment(connecticut_data)

In [147]:
delaware_data = parse_employment_data(employment_data_only, "DE")
delaware_employment = employment(delaware_data)
delaware_unemployment = unemployment(delaware_data)

In [148]:
florida_data = parse_employment_data(employment_data_only, "FL")
florida_employment = employment(florida_data)
florida_unemployment = unemployment(florida_data)

In [149]:
georgia_data = parse_employment_data(employment_data_only, "GA")
georgia_employment = employment(georgia_data)
georgia_unemployment = unemployment(georgia_data)

In [150]:
hawaii_data = parse_employment_data(employment_data_only, "HI")
hawaii_employment = employment(hawaii_data)
hawaii_unemployment = unemployment(hawaii_data)

In [151]:
idaho_data = parse_employment_data(employment_data_only, "ID")
idaho_employment = employment(idaho_data)
idaho_unemployment = unemployment(idaho_data)

In [152]:
illinois_data = parse_employment_data(employment_data_only, "IL")
illinois_employment = employment(illinois_data)
illinois_unemployment = unemployment(illinois_data)

In [153]:
indiana_data = parse_employment_data(employment_data_only, "IN")
indiana_employment = employment(indiana_data)
indiana_unemployment = unemployment(indiana_data)

In [154]:
iowa_data = parse_employment_data(employment_data_only, "IA")
iowa_employment = employment(iowa_data)
iowa_unemployment = unemployment(iowa_data)

In [155]:
kansas_data = parse_employment_data(employment_data_only, "KS")
kansas_employment = employment(kansas_data)
kansas_unemployment = unemployment(kansas_data)

In [156]:
kentucky_data = parse_employment_data(employment_data_only, "KY")
kentucky_employment = employment(kentucky_data)
kentucky_unemployment = unemployment(kentucky_data)

In [157]:
louisiana_data = parse_employment_data(employment_data_only, "LA")
louisiana_employment = employment(louisiana_data)
louisiana_unemployment = unemployment(louisiana_data)

In [158]:
maine_data = parse_employment_data(employment_data_only, "ME")
maine_employment = employment(maine_data)
maine_unemployment = unemployment(maine_data)

In [159]:
maryland_data = parse_employment_data(employment_data_only, "MD")
maryland_employment = employment(maryland_data)
maryland_unemployment = unemployment(maryland_data)

In [160]:
massachusetts_data = parse_employment_data(employment_data_only, "MA")
massachusetts_employment = employment(massachusetts_data)
massachusetts_unemployment = unemployment(massachusetts_data)

In [161]:
michigan_data = parse_employment_data(employment_data_only, "MI")
michigan_employment = employment(michigan_data)
michigan_unemployment = unemployment(michigan_data)

In [162]:
minnesota_data = parse_employment_data(employment_data_only, "MN")
minnesota_employment = employment(minnesota_data)
minnesota_unemployment = unemployment(minnesota_data)

In [163]:
mississippi_data = parse_employment_data(employment_data_only, "MS")
mississippi_employment = employment(mississippi_data)
mississippi_unemployment = unemployment(mississippi_data)

In [164]:
missouri_data = parse_employment_data(employment_data_only, "MO")
missouri_employment = employment(missouri_data)
missouri_unemployment = unemployment(missouri_data)

In [165]:
montana_data = parse_employment_data(employment_data_only, "MT")
montana_employment = employment(montana_data)
montana_unemployment = unemployment(montana_data)

In [166]:
nebraska_data = parse_employment_data(employment_data_only, "NE")
nebraska_employment = employment(nebraska_data)
nebraska_unemployment = unemployment(nebraska_data)

In [167]:
nevada_data = parse_employment_data(employment_data_only, "NV")
nevada_employment = employment(nevada_data)
nevada_unemployment = unemployment(nevada_data)

In [168]:
new_hampshire_data = parse_employment_data(employment_data_only, "NH")
new_hampshire_employment = employment(new_hampshire_data)
new_hampshire_unemployment = unemployment(new_hampshire_data)

In [169]:
new_jersey_data = parse_employment_data(employment_data_only, "NJ")
new_jersey_employment = employment(new_jersey_data)
new_jersey_unemployment = unemployment(new_jersey_data)

In [170]:
new_mexico_data = parse_employment_data(employment_data_only, "NM")
new_mexico_employment = employment(new_mexico_data)
new_mexico_unemployment = unemployment(new_mexico_data)

In [171]:
new_york_data = parse_employment_data(employment_data_only, "NY")
new_york_employment = employment(new_york_data)
new_york_unemployment = unemployment(new_york_data)

In [172]:
north_carolina_data = parse_employment_data(employment_data_only, "NC")
north_carolina_employment = employment(north_carolina_data)
north_carolina_unemployment = unemployment(north_carolina_data)

In [173]:
north_dakota_data = parse_employment_data(employment_data_only, "ND")
north_dakota_employment = employment(north_dakota_data)
north_dakota_unemployment = unemployment(north_dakota_data)

In [174]:
ohio_data = parse_employment_data(employment_data_only, "OH")
ohio_employment = employment(ohio_data)
ohio_unemployment = unemployment(ohio_data)

In [175]:
oklahoma_data = parse_employment_data(employment_data_only, "OK")
oklahoma_employment = employment(oklahoma_data)
oklahoma_unemployment = unemployment(oklahoma_data)

In [176]:
oregon_data = parse_employment_data(employment_data_only, "OR")
oregon_employment = employment(oregon_data)
oregon_unemployment = unemployment(oregon_data)

In [177]:
pennsylvania_data = parse_employment_data(employment_data_only, "PA")
pennsylvania_employment = employment(pennsylvania_data)
pennsylvania_unemployment = unemployment(pennsylvania_data)

In [178]:
rhode_island_data = parse_employment_data(employment_data_only, "RI")
rhode_island_employment = employment(rhode_island_data)
rhode_island_unemployment = unemployment(rhode_island_data)

In [179]:
south_carolina_data = parse_employment_data(employment_data_only, "SC")
south_carolina_employment = employment(south_carolina_data)
south_carolina_unemployment = unemployment(south_carolina_data)

In [180]:
south_dakota_data = parse_employment_data(employment_data_only, "SD")
south_dakota_employment = employment(south_dakota_data)
south_dakota_unemployment = unemployment(south_dakota_data)

In [181]:
tennessee_data = parse_employment_data(employment_data_only, "TN")
tennessee_employment = employment(tennessee_data)
tennessee_unemployment = unemployment(tennessee_data)

In [182]:
texas_data = parse_employment_data(employment_data_only, "TX")
texas_employment = employment(texas_data)
texas_unemployment = unemployment(texas_data)

In [183]:
utah_data = parse_employment_data(employment_data_only, "UT")
utah_employment = employment(utah_data)
utah_unemployment = unemployment(utah_data)

In [184]:
vermont_data = parse_employment_data(employment_data_only, "VT")
vermont_employment = employment(vermont_data)
vermont_unemployment = unemployment(vermont_data)

In [185]:
virginia_data = parse_employment_data(employment_data_only, "VA")
virginia_employment = employment(virginia_data)
virginia_unemployment = unemployment(virginia_data)

In [186]:
washington_data = parse_employment_data(employment_data_only, "WA")
washington_employment = employment(washington_data)
washington_unemployment = unemployment(washington_data)

In [187]:
west_virginia_data = parse_employment_data(employment_data_only, "WV")
west_virginia_employment = employment(west_virginia_data)
west_virginia_unemployment = unemployment(west_virginia_data)

In [188]:
wisconsin_data = parse_employment_data(employment_data_only, "WI")
wisconsin_employment = employment(wisconsin_data)
wisconsin_unemployment = unemployment(wisconsin_data)

In [190]:
wyoming_data = parse_employment_data(employment_data_only, "WY")
wyoming_employment = employment(wyoming_data)
wyoming_unemployment = unemployment(wyoming_data)

,County/State,Unemp 2010,Unemp 2011,Unemp 2012,Unemp 2013,Unemp 2014,Unemp 2015,Unemp 2016,Unemp 2017,Unemp 2018
State,,,,,,,,,,
WY,"Albany County, WY",956,917,891,776,705,655,673,586,668
WY,"Big Horn County, WY",376,350,317,290,250,248,276,227,246
WY,"Campbell County, WY","1,587","1,267","1,212","1,091",878,"1,024","1,760",1121,938
WY,"Carbon County, WY",556,488,425,362,336,316,393,316,295
WY,"Converse County, WY",413,370,342,297,250,307,492,333,278
WY,"Crook County, WY",195,189,186,164,144,130,172,129,119
WY,"Fremont County, WY","1,457","1,368","1,282","1,198","1,020","1,131","1,444",1072,985
WY,"Goshen County, WY",368,366,351,308,256,235,244,199,226
WY,"Hot Springs County, WY",134,132,122,121,102,101,117,91,82
WY,"Johnson County, WY",309,284,238,227,201,207,226,175,168
WY,"Laramie County, WY","3,090","2,918","2,744","2,329","2,105","1,942","2,031",1765,"1,847"
WY,"Lincoln County, WY",728,686,589,468,423,400,411,321,332
WY,"Natrona County, WY","2,784","2,495","2,146","1,955","1,742","2,116","2,932",2071,"1,813"
WY,"Niobrara County, WY",64,58,53,49,45,40,44,36,36
WY,"Park County, WY",973,930,902,808,701,683,755,667,681
WY,"Platte County, WY",275,249,234,211,183,194,230,177,178
WY,"Sheridan County, WY","1,181","1,111",987,869,735,680,762,615,631
WY,"Sublette County, WY",333,270,272,239,208,240,273,191,179
WY,"Sweetwater County, WY","1,526","1,258","1,152","1,045",927,"1,079","1,343",979,896
WY,"Teton County, WY","1,042","1,023",924,789,668,574,528,435,464
WY,"Uinta County, WY",742,630,574,525,474,488,549,414,390
WY,"Washakie County, WY",271,256,233,216,185,180,201,165,172
WY,"Weston County, WY",194,181,161,142,130,136,198,149,131