In [1]:
#cleaning Unemployment by State data

In [234]:
import csv
import pandas as pd
import matplotlib.pyplot as plt

In [627]:
employment_data = pd.read_csv("./Data/Unemployment and Household Income 2007-08.csv")
employment_data = employment_data.iloc[7:,]
employment_data = employment_data.rename(columns={"Unemployment and median household income for the U.S., States, and counties, 2007-18":"Unemployment Rate","Unnamed: 1": "State", "Unnamed: 2": "County/State","Unnamed: 3":"Rural 2013","Unnamed: 4":"Urban 2013","Unnamed: 5":"Metro 2013","Unnamed: 6":"CLF 2007","Unnamed: 7":"Emp 2007","Unnamed: 8":"Unemp 2007","Unnamed: 9":"Unemp Rate 2007","Unnamed: 10":"CLF 2008","Unnamed: 11":"Emp 2008","Unnamed: 12":"Unemp 2008","Unnamed: 13":"Unemp Rate 2008","Unnamed: 14":"CLF 2009","Unnamed: 15":"Emp 2009","Unnamed: 16":"Unemp 2009","Unnamed: 17":"Unemp Rate 2009","Unnamed: 18":"CLF 2010","Unnamed: 19":"Emp 2010","Unnamed: 20":"Unemp 2010","Unnamed: 21":"Unemp Rate 2010","Unnamed: 22":"CLF 2011","Unnamed: 23":"Emp 2011","Unnamed: 24":"Unemp 2011","Unnamed: 25":"Unemp Rate 2011","Unnamed: 26":"CLF 2012","Unnamed: 27":"Emp 2012","Unnamed: 28":"Unemp 2012","Unnamed: 29":"Unemp Rate 2012","Unnamed: 30":"CLF 2013","Unnamed: 31":"Emp 2013","Unnamed: 32":"Unemp 2013","Unnamed: 33":"Unemp Rate 2013","Unnamed: 34":"CLF 2014","Unnamed: 35":"Emp 2014","Unnamed: 36":"Unemp 2014","Unnamed: 37":"Unemp Rate 2014","Unnamed: 38":"CLF 2015","Unnamed: 39":"Emp 2015","Unnamed: 40":"Unemp 2015","Unnamed: 41":"Unemp Rate 2015","Unnamed: 42":"CLF 2016","Unnamed: 43":"Emp 2016","Unnamed: 44":"Unemp 2016","Unnamed: 45":"Unemp Rate 2016","Unnamed: 46":"CLF 2017","Unnamed: 47":"Emp 2017","Unnamed: 48":"Unemp 2017","Unnamed: 49":"Unemp Rate 2017","Unnamed: 50":"CLF 2018","Unnamed: 51":"Emp 2018","Unnamed: 52":"Unemp 2018","Unnamed: 53":"Unemp Rate 2018", "Unnamed: 54": "Median Household Income 2017", "Unnamed: 55": "Median HH Income (%) 2017"})
employment_data = employment_data.drop(["Unemployment Rate","Rural 2013", "Urban 2013", "Metro 2013", "CLF 2007", "Emp 2007", "Unemp 2007", "Unemp Rate 2007", "CLF 2008", "Emp 2008", "Unemp 2008", "Unemp Rate 2008", "CLF 2009", "Emp 2009", "Unemp 2009", "Unemp Rate 2009"], axis=1)
employment_data_only = employment_data.drop(["Median Household Income 2017", "Median HH Income (%) 2017"], axis=1)
employment_data = employment_data.set_index("State")
employment_data = employment_data.drop('PR')

employment_data_only = employment_data_only.set_index("State")
employment_data_only = employment_data_only.drop('PR')
employment_data_only = employment_data_only.fillna('-')
employment_data = employment_data.fillna('-')
employment_data

,County/State,CLF 2010,Emp 2010,Unemp 2010,Unemp Rate 2010,CLF 2011,Emp 2011,Unemp 2011,Unemp Rate 2011,CLF 2012,...,CLF 2017,Emp 2017,Unemp 2017,Unemp Rate 2017,CLF 2018,Emp 2018,Unemp 2018,Unemp Rate 2018,Median Household Income 2017,Median HH Income (%) 2017
State,,,,,,,,,,,,,,,,,,,,,
US,United States,"154,270,732","139,408,204","14,862,528",9.6,"154,606,316","140,765,809","13,840,507",9.0,"155,119,195",...,"160,273,906","153,293,830","6,980,076",4.4,"161,640,488","155,344,043","6,296,445",3.9,"$60,336",-
AL,Alabama,"2,196,042","1,964,559","231,483",10.5,"2,202,670","1,990,413","212,257",9.6,"2,176,337",...,2178243,2081676,96567,4.4,"2,198,837","2,112,347","86,490",3.9,"$48,193",100.0
AL,"Autauga County, AL","25,713","23,431","2,282",8.9,"25,836","23,677","2,159",8.4,"25,740",...,25972,24958,1014,3.9,"25,957","25,015",942,3.6,"$58,343",121.1
AL,"Baldwin County, AL","83,459","75,120","8,339",10.0,"85,045","77,418","7,627",9.0,"84,414",...,92090,88342,3748,4.1,"93,849","90,456","3,393",3.6,"$56,607",117.5
AL,"Barbour County, AL","10,221","8,959","1,262",12.3,"9,849","8,712","1,137",11.5,"9,362",...,8317,7831,486,5.8,"8,373","7,940",433,5.2,"$32,490",67.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WY,"Sweetwater County, WY","23,134","21,608","1,526",6.6,"23,891","22,633","1,258",5.3,"24,138",...,21555,20576,979,4.5,"21,150","20,254",896,4.2,"$75,590",123.4
WY,"Teton County, WY","13,611","12,569","1,042",7.7,"13,637","12,614","1,023",7.5,"13,805",...,15418,14983,435,2.8,"15,340","14,876",464,3.0,"$90,145",147.1
WY,"Uinta County, WY","10,557","9,815",742,7.0,"10,167","9,537",630,6.2,"10,263",...,9103,8689,414,4.5,"8,931","8,541",390,4.4,"$67,404",110.0
WY,"Washakie County, WY","4,589","4,318",271,5.9,"4,591","4,335",256,5.6,"4,487",...,4112,3947,165,4.0,"4,058","3,886",172,4.2,"$57,989",94.6
WY,"Weston County, WY","4,016","3,822",194,4.8,"3,966","3,785",181,4.6,"3,972",...,3754,3605,149,4.0,"3,731","3,600",131,3.5,"$56,214",91.7

In [521]:
employment_data_only

,County/State,CLF 2010,Emp 2010,Unemp 2010,Unemp Rate 2010,CLF 2011,Emp 2011,Unemp 2011,Unemp Rate 2011,CLF 2012,...,Unemp 2016,Unemp Rate 2016,CLF 2017,Emp 2017,Unemp 2017,Unemp Rate 2017,CLF 2018,Emp 2018,Unemp 2018,Unemp Rate 2018
State,,,,,,,,,,,,,,,,,,,,,
US,United States,"154,270,732","139,408,204","14,862,528",9.6,"154,606,316","140,765,809","13,840,507",9.0,"155,119,195",...,"7,727,644",4.9,"160,273,906","153,293,830","6,980,076",4.4,"161,640,488","155,344,043","6,296,445",3.9
AL,Alabama,"2,196,042","1,964,559","231,483",10.5,"2,202,670","1,990,413","212,257",9.6,"2,176,337",...,"127,238",5.8,2178243,2081676,96567,4.4,"2,198,837","2,112,347","86,490",3.9
AL,"Autauga County, AL","25,713","23,431","2,282",8.9,"25,836","23,677","2,159",8.4,"25,740",...,"1,321",5.1,25972,24958,1014,3.9,"25,957","25,015",942,3.6
AL,"Baldwin County, AL","83,459","75,120","8,339",10.0,"85,045","77,418","7,627",9.0,"84,414",...,"4,831",5.3,92090,88342,3748,4.1,"93,849","90,456","3,393",3.6
AL,"Barbour County, AL","10,221","8,959","1,262",12.3,"9,849","8,712","1,137",11.5,"9,362",...,700,8.3,8317,7831,486,5.8,"8,373","7,940",433,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WY,"Sweetwater County, WY","23,134","21,608","1,526",6.6,"23,891","22,633","1,258",5.3,"24,138",...,"1,343",6.1,21555,20576,979,4.5,"21,150","20,254",896,4.2
WY,"Teton County, WY","13,611","12,569","1,042",7.7,"13,637","12,614","1,023",7.5,"13,805",...,528,3.5,15418,14983,435,2.8,"15,340","14,876",464,3.0
WY,"Uinta County, WY","10,557","9,815",742,7.0,"10,167","9,537",630,6.2,"10,263",...,549,5.8,9103,8689,414,4.5,"8,931","8,541",390,4.4
WY,"Washakie County, WY","4,589","4,318",271,5.9,"4,591","4,335",256,5.6,"4,487",...,201,4.8,4112,3947,165,4.0,"4,058","3,886",172,4.2
WY,"Weston County, WY","4,016","3,822",194,4.8,"3,966","3,785",181,4.6,"3,972",...,198,5.0,3754,3605,149,4.0,"3,731","3,600",131,3.5

In [522]:
us_data = employment_data_only.iloc[:1]
#us_data = employment_data_only.loc["US"]

In [523]:
def parse_employment_data(source, state_abbr):
    data = source.loc[state_abbr]
    return { 'counties': data.iloc[1:], 'state': data.iloc[:1] }

In [524]:
def employment(source):
    counties = source['counties']
    return counties[['County/State',"Emp 2010", "Emp 2011", 'Emp 2012',"Emp 2013", "Emp 2014", 'Emp 2015',"Emp 2016", "Emp 2017", 'Emp 2018']]

In [525]:
def unemployment(source):
    counties = source['counties']
    return counties[['County/State',"Unemp 2010", "Unemp 2011", 'Unemp 2012',"Unemp 2013", "Unemp 2014", 'Unemp 2015',"Unemp 2016", "Unemp 2017", 'Unemp 2018']]

In [609]:
def state_emp(source):
    state = source['state']
    return state[['County/State',"Emp 2010", "Emp 2011", 'Emp 2012',"Emp 2013", "Emp 2014", 'Emp 2015',"Emp 2016", "Emp 2017", 'Emp 2018']]

In [629]:
alabama_data = parse_employment_data(employment_data_only, "AL")
alabama_employment = employment(alabama_data)
alabama_unemployment = unemployment(alabama_data)
alabama_st_emp = state_emp(alabama_data)
alabama_data['counties']

,County/State,CLF 2010,Emp 2010,Unemp 2010,Unemp Rate 2010,CLF 2011,Emp 2011,Unemp 2011,Unemp Rate 2011,CLF 2012,...,Unemp 2016,Unemp Rate 2016,CLF 2017,Emp 2017,Unemp 2017,Unemp Rate 2017,CLF 2018,Emp 2018,Unemp 2018,Unemp Rate 2018
State,,,,,,,,,,,,,,,,,,,,,
AL,"Autauga County, AL","25,713","23,431","2,282",8.9,"25,836","23,677","2,159",8.4,"25,740",...,"1,321",5.1,25972,24958,1014,3.9,"25,957","25,015",942,3.6
AL,"Baldwin County, AL","83,459","75,120","8,339",10.0,"85,045","77,418","7,627",9.0,"84,414",...,"4,831",5.3,92090,88342,3748,4.1,"93,849","90,456","3,393",3.6
AL,"Barbour County, AL","10,221","8,959","1,262",12.3,"9,849","8,712","1,137",11.5,"9,362",...,700,8.3,8317,7831,486,5.8,"8,373","7,940",433,5.2
AL,"Bibb County, AL","8,934","7,914","1,020",11.4,"8,933","7,996",937,10.5,"8,798",...,556,6.4,8550,8174,376,4.4,"8,661","8,317",344,4.0
AL,"Blount County, AL","24,906","22,460","2,446",9.8,"25,123","22,939","2,184",8.7,"24,960",...,"1,325",5.4,24725,23726,999,4.0,"25,006","24,128",878,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
AL,"Tuscaloosa County, AL","93,915","85,273","8,642",9.2,"95,463","87,532","7,931",8.3,"95,340",...,"5,598",5.6,99865,95692,4173,4.2,"101,569","97,855","3,714",3.7
AL,"Walker County, AL","27,279","23,815","3,464",12.7,"27,092","24,034","3,058",11.3,"26,574",...,"1,901",7.4,24898,23639,1259,5.1,"25,132","24,064","1,068",4.2
AL,"Washington County, AL","7,385","6,335","1,050",14.2,"7,106","6,070","1,036",14.6,"6,875",...,580,8.6,6691,6237,454,6.8,"6,667","6,278",389,5.8
AL,"Wilcox County, AL","3,066","2,261",805,26.3,"2,979","2,289",690,23.2,"2,883",...,406,14.4,2802,2481,321,11.5,"2,734","2,472",262,9.6
AL,"Winston County, AL","9,883","8,304","1,579",16.0,"9,819","8,492","1,327",13.5,"9,607",...,676,7.1,9693,9203,490,5.1,"9,781","9,371",410,4.2

In [612]:
alaska_data = parse_employment_data(employment_data_only, "AK")
alaska_employment = employment(alaska_data)
alaska_unemployment = unemployment(alaska_data)

In [605]:
arizona_data = parse_employment_data(employment_data_only, "AZ")

arizona_employment = employment(arizona_data)
arizona_unemployment = unemployment(arizona_data)
arizona_unemployment = arizona_unemployment.set_index('County/State')
arizona_unemployment

,Unemp 2010,Unemp 2011,Unemp 2012,Unemp 2013,Unemp 2014,Unemp 2015,Unemp 2016,Unemp 2017,Unemp 2018
County/State,,,,,,,,,
"Apache County, AZ","3,849","4,252","4,324","4,016","3,323","2,738","2,336",2107,"2,080"
"Cochise County, AZ","5,329","5,328","4,871","4,721","4,287","3,662","3,099",2760,"2,789"
"Coconino County, AZ","7,196","6,836","6,110","5,767","5,121","4,762","4,475",4189,"4,233"
"Gila County, AZ","2,709","2,446","2,137","2,011","1,778","1,671","1,522",1293,"1,267"
"Graham County, AZ","1,883","1,429","1,230","1,103","1,073","1,065",971,784,764
"Greenlee County, AZ",564,370,292,269,306,320,296,201,182
"La Paz County, AZ",805,770,696,656,603,608,513,470,557
"Maricopa County, AZ","182,826","162,123","138,033","125,434","113,878","103,661","95,522",90109,"92,307"
"Mohave County, AZ","10,727","9,771","8,549","7,950","6,831","6,312","5,341",4854,"4,934"
"Navajo County, AZ","6,453","6,430","6,067","5,642","4,613","3,931","3,422",3123,"3,151"
"Pima County, AZ","44,637","39,573","34,100","30,874","27,943","25,476","23,350",21505,"21,828"
"Pinal County, AZ","16,465","14,615","12,694","11,951","10,752","9,875","9,114",8673,"8,952"
"Santa Cruz County, AZ","3,184","3,167","3,107","3,088","2,623","2,277","1,931",1812,"1,803"
"Yavapai County, AZ","10,309","9,179","7,942","7,087","5,990","5,398","4,917",4625,"4,719"
"Yuma County, AZ","23,316","22,258","22,377","24,162","21,382","20,318","17,772",16318,"16,639"

In [529]:
arkansas_data = parse_employment_data(employment_data_only, "AR")
arkansas_employment = employment(arkansas_data)
arkansas_unemployment = unemployment(arkansas_data)

In [530]:
california_data = parse_employment_data(employment_data_only, "CA")
california_employment = employment(california_data)
california_unemployment = unemployment(california_data)

In [531]:
colorado_data = parse_employment_data(employment_data_only, "CO")
colorado_employment = employment(colorado_data)
colorado_unemployment = unemployment(colorado_data)

In [532]:
connecticut_data = parse_employment_data(employment_data_only, "CT")
connecticut_employment = employment(connecticut_data)
connecticut_unemployment = unemployment(connecticut_data)

In [533]:
delaware_data = parse_employment_data(employment_data_only, "DE")
delaware_employment = employment(delaware_data)
delaware_unemployment = unemployment(delaware_data)

In [534]:
florida_data = parse_employment_data(employment_data_only, "FL")
florida_employment = employment(florida_data)
florida_unemployment = unemployment(florida_data)

In [535]:
georgia_data = parse_employment_data(employment_data_only, "GA")
georgia_employment = employment(georgia_data)
georgia_unemployment = unemployment(georgia_data)

In [536]:
hawaii_data = parse_employment_data(employment_data_only, "HI")
hawaii_employment = employment(hawaii_data)
hawaii_unemployment = unemployment(hawaii_data)

In [537]:
idaho_data = parse_employment_data(employment_data_only, "ID")
idaho_employment = employment(idaho_data)
idaho_unemployment = unemployment(idaho_data)

In [538]:
illinois_data = parse_employment_data(employment_data_only, "IL")
illinois_employment = employment(illinois_data)
illinois_unemployment = unemployment(illinois_data)

In [539]:
indiana_data = parse_employment_data(employment_data_only, "IN")
indiana_employment = employment(indiana_data)
indiana_unemployment = unemployment(indiana_data)

In [540]:
iowa_data = parse_employment_data(employment_data_only, "IA")
iowa_employment = employment(iowa_data)
iowa_unemployment = unemployment(iowa_data)

In [541]:
kansas_data = parse_employment_data(employment_data_only, "KS")
kansas_employment = employment(kansas_data)
kansas_unemployment = unemployment(kansas_data)

In [542]:
kentucky_data = parse_employment_data(employment_data_only, "KY")
kentucky_employment = employment(kentucky_data)
kentucky_unemployment = unemployment(kentucky_data)

In [543]:
louisiana_data = parse_employment_data(employment_data_only, "LA")
louisiana_employment = employment(louisiana_data)
louisiana_unemployment = unemployment(louisiana_data)

In [544]:
maine_data = parse_employment_data(employment_data_only, "ME")
maine_employment = employment(maine_data)
maine_unemployment = unemployment(maine_data)

In [545]:
maryland_data = parse_employment_data(employment_data_only, "MD")
maryland_employment = employment(maryland_data)
maryland_unemployment = unemployment(maryland_data)

In [546]:
massachusetts_data = parse_employment_data(employment_data_only, "MA")
massachusetts_employment = employment(massachusetts_data)
massachusetts_unemployment = unemployment(massachusetts_data)

In [547]:
michigan_data = parse_employment_data(employment_data_only, "MI")
michigan_employment = employment(michigan_data)
michigan_unemployment = unemployment(michigan_data)

In [548]:
minnesota_data = parse_employment_data(employment_data_only, "MN")
minnesota_employment = employment(minnesota_data)
minnesota_unemployment = unemployment(minnesota_data)

In [549]:
mississippi_data = parse_employment_data(employment_data_only, "MS")
mississippi_employment = employment(mississippi_data)
mississippi_unemployment = unemployment(mississippi_data)

In [550]:
missouri_data = parse_employment_data(employment_data_only, "MO")
missouri_employment = employment(missouri_data)
missouri_unemployment = unemployment(missouri_data)

In [551]:
montana_data = parse_employment_data(employment_data_only, "MT")
montana_employment = employment(montana_data)
montana_unemployment = unemployment(montana_data)

In [552]:
nebraska_data = parse_employment_data(employment_data_only, "NE")
nebraska_employment = employment(nebraska_data)
nebraska_unemployment = unemployment(nebraska_data)

In [553]:
nevada_data = parse_employment_data(employment_data_only, "NV")
nevada_employment = employment(nevada_data)
nevada_unemployment = unemployment(nevada_data)

In [554]:
new_hampshire_data = parse_employment_data(employment_data_only, "NH")
new_hampshire_employment = employment(new_hampshire_data)
new_hampshire_unemployment = unemployment(new_hampshire_data)

In [555]:
new_jersey_data = parse_employment_data(employment_data_only, "NJ")
new_jersey_employment = employment(new_jersey_data)
new_jersey_unemployment = unemployment(new_jersey_data)

In [556]:
new_mexico_data = parse_employment_data(employment_data_only, "NM")
new_mexico_employment = employment(new_mexico_data)
new_mexico_unemployment = unemployment(new_mexico_data)

In [557]:
new_york_data = parse_employment_data(employment_data_only, "NY")
new_york_employment = employment(new_york_data)
new_york_unemployment = unemployment(new_york_data)

In [558]:
north_carolina_data = parse_employment_data(employment_data_only, "NC")
north_carolina_employment = employment(north_carolina_data)
north_carolina_unemployment = unemployment(north_carolina_data)

In [559]:
north_dakota_data = parse_employment_data(employment_data_only, "ND")
north_dakota_employment = employment(north_dakota_data)
north_dakota_unemployment = unemployment(north_dakota_data)

In [560]:
ohio_data = parse_employment_data(employment_data_only, "OH")
ohio_employment = employment(ohio_data)
ohio_unemployment = unemployment(ohio_data)

In [561]:
oklahoma_data = parse_employment_data(employment_data_only, "OK")
oklahoma_employment = employment(oklahoma_data)
oklahoma_unemployment = unemployment(oklahoma_data)

In [562]:
oregon_data = parse_employment_data(employment_data_only, "OR")
oregon_employment = employment(oregon_data)
oregon_unemployment = unemployment(oregon_data)

In [563]:
pennsylvania_data = parse_employment_data(employment_data_only, "PA")
pennsylvania_employment = employment(pennsylvania_data)
pennsylvania_unemployment = unemployment(pennsylvania_data)

In [564]:
rhode_island_data = parse_employment_data(employment_data_only, "RI")
rhode_island_employment = employment(rhode_island_data)
rhode_island_unemployment = unemployment(rhode_island_data)

In [565]:
south_carolina_data = parse_employment_data(employment_data_only, "SC")
south_carolina_employment = employment(south_carolina_data)
south_carolina_unemployment = unemployment(south_carolina_data)

In [566]:
south_dakota_data = parse_employment_data(employment_data_only, "SD")
south_dakota_employment = employment(south_dakota_data)
south_dakota_unemployment = unemployment(south_dakota_data)

In [567]:
tennessee_data = parse_employment_data(employment_data_only, "TN")
tennessee_employment = employment(tennessee_data)
tennessee_unemployment = unemployment(tennessee_data)

In [568]:
texas_data = parse_employment_data(employment_data_only, "TX")
texas_employment = employment(texas_data)
texas_unemployment = unemployment(texas_data)

In [569]:
utah_data = parse_employment_data(employment_data_only, "UT")
utah_employment = employment(utah_data)
utah_unemployment = unemployment(utah_data)

In [570]:
vermont_data = parse_employment_data(employment_data_only, "VT")
vermont_employment = employment(vermont_data)
vermont_unemployment = unemployment(vermont_data)

In [571]:
virginia_data = parse_employment_data(employment_data_only, "VA")
virginia_employment = employment(virginia_data)
virginia_unemployment = unemployment(virginia_data)

In [572]:
washington_data = parse_employment_data(employment_data_only, "WA")
washington_employment = employment(washington_data)
washington_unemployment = unemployment(washington_data)

In [573]:
west_virginia_data = parse_employment_data(employment_data_only, "WV")
west_virginia_employment = employment(west_virginia_data)
west_virginia_unemployment = unemployment(west_virginia_data)

In [574]:
wisconsin_data = parse_employment_data(employment_data_only, "WI")
wisconsin_employment = employment(wisconsin_data)
wisconsin_unemployment = unemployment(wisconsin_data)

In [575]:
wyoming_data = parse_employment_data(employment_data_only, "WY")
wyoming_employment = employment(wyoming_data)
wyoming_unemployment = unemployment(wyoming_data)