In [1]:
#cleaning Unemployment by State data

In [2]:
import csv
import pandas as pd
import matplotlib.pyplot as plt
import re

In [3]:
employment_data = pd.read_csv("./Data/Unemployment and Household Income 2007-08.csv")
employment_data = employment_data.iloc[7:,]
employment_data = employment_data.rename(columns={"Unemployment and median household income for the U.S., States, and counties, 2007-18":"Unemployment Rate","Unnamed: 1": "State", "Unnamed: 2": "County/State","Unnamed: 3":"Rural 2013","Unnamed: 4":"Urban 2013","Unnamed: 5":"Metro 2013","Unnamed: 6":"CLF 2007","Unnamed: 7":"Emp 2007","Unnamed: 8":"Unemp 2007","Unnamed: 9":"Unemp Rate 2007","Unnamed: 10":"CLF 2008","Unnamed: 11":"Emp 2008","Unnamed: 12":"Unemp 2008","Unnamed: 13":"Unemp Rate 2008","Unnamed: 14":"CLF 2009","Unnamed: 15":"Emp 2009","Unnamed: 16":"Unemp 2009","Unnamed: 17":"Unemp Rate 2009","Unnamed: 18":"CLF 2010","Unnamed: 19":"Emp 2010","Unnamed: 20":"Unemp 2010","Unnamed: 21":"Unemp Rate 2010","Unnamed: 22":"CLF 2011","Unnamed: 23":"Emp 2011","Unnamed: 24":"Unemp 2011","Unnamed: 25":"Unemp Rate 2011","Unnamed: 26":"CLF 2012","Unnamed: 27":"Emp 2012","Unnamed: 28":"Unemp 2012","Unnamed: 29":"Unemp Rate 2012","Unnamed: 30":"CLF 2013","Unnamed: 31":"Emp 2013","Unnamed: 32":"Unemp 2013","Unnamed: 33":"Unemp Rate 2013","Unnamed: 34":"CLF 2014","Unnamed: 35":"Emp 2014","Unnamed: 36":"Unemp 2014","Unnamed: 37":"Unemp Rate 2014","Unnamed: 38":"CLF 2015","Unnamed: 39":"Emp 2015","Unnamed: 40":"Unemp 2015","Unnamed: 41":"Unemp Rate 2015","Unnamed: 42":"CLF 2016","Unnamed: 43":"Emp 2016","Unnamed: 44":"Unemp 2016","Unnamed: 45":"Unemp Rate 2016","Unnamed: 46":"CLF 2017","Unnamed: 47":"Emp 2017","Unnamed: 48":"Unemp 2017","Unnamed: 49":"Unemp Rate 2017","Unnamed: 50":"CLF 2018","Unnamed: 51":"Emp 2018","Unnamed: 52":"Unemp 2018","Unnamed: 53":"Unemp Rate 2018", "Unnamed: 54": "Median Household Income 2017", "Unnamed: 55": "Median HH Income (%) 2017"})
employment_data = employment_data.drop(["Unemployment Rate","Rural 2013", "Urban 2013", "Metro 2013"], axis=1)
employment_data_only = employment_data.drop(["Median Household Income 2017", "Median HH Income (%) 2017"], axis=1)
employment_data = employment_data.set_index("State")
employment_data = employment_data.drop('PR')

employment_data_only = employment_data_only.set_index("State")
employment_data_only = employment_data_only.drop('PR')
employment_data_only = employment_data_only.fillna('-')
employment_data = employment_data.fillna('-')


def parseFloat(data):
    parsedData = re.sub( '[^\d\.]', '', data)
    return (re.sub( '[^\d\.]', '', data)) if parsedData else 0
employment_d = employment_data_only.iloc[:,1:].applymap(parseFloat)
e = employment_d.astype('float')
e['County/State'] = employment_data_only['County/State']
e

,CLF 2007,Emp 2007,Unemp 2007,Unemp Rate 2007,CLF 2008,Emp 2008,Unemp 2008,Unemp Rate 2008,CLF 2009,Emp 2009,...,Unemp Rate 2016,CLF 2017,Emp 2017,Unemp 2017,Unemp Rate 2017,CLF 2018,Emp 2018,Unemp 2018,Unemp Rate 2018,County/State
State,,,,,,,,,,,,,,,,,,,,,
US,152191093.0,145156134.0,7034959.0,4.6,153761095.0,144860350.0,8900745.0,5.8,153825455.0,139594698.0,...,4.9,160273906.0,153293830.0,6980076.0,4.4,161640488.0,155344043.0,6296445.0,3.9,United States
AL,2175612.0,2089127.0,86485.0,4.0,2176489.0,2053477.0,123012.0,5.7,2162999.0,1924747.0,...,5.8,2178243.0,2081676.0,96567.0,4.4,2198837.0,2112347.0,86490.0,3.9,Alabama
AL,24383.0,23577.0,806.0,3.3,24687.0,23420.0,1267.0,5.1,24703.0,22301.0,...,5.1,25972.0,24958.0,1014.0,3.9,25957.0,25015.0,942.0,3.6,"Autauga County, AL"
AL,82659.0,80099.0,2560.0,3.1,83223.0,79372.0,3851.0,4.6,82451.0,74403.0,...,5.3,92090.0,88342.0,3748.0,4.1,93849.0,90456.0,3393.0,3.6,"Baldwin County, AL"
AL,10334.0,9684.0,650.0,6.3,10161.0,9267.0,894.0,8.8,10003.0,8572.0,...,8.3,8317.0,7831.0,486.0,5.8,8373.0,7940.0,433.0,5.2,"Barbour County, AL"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WY,23712.0,23184.0,528.0,2.2,24273.0,23697.0,576.0,2.4,24323.0,22765.0,...,6.1,21555.0,20576.0,979.0,4.5,21150.0,20254.0,896.0,4.2,"Sweetwater County, WY"
WY,14375.0,14058.0,317.0,2.2,14459.0,14036.0,423.0,2.9,13882.0,12917.0,...,3.5,15418.0,14983.0,435.0,2.8,15340.0,14876.0,464.0,3.0,"Teton County, WY"
WY,11113.0,10818.0,295.0,2.7,11512.0,11179.0,333.0,2.9,11570.0,10789.0,...,5.8,9103.0,8689.0,414.0,4.5,8931.0,8541.0,390.0,4.4,"Uinta County, WY"
WY,4194.0,4048.0,146.0,3.5,4291.0,4139.0,152.0,3.5,4404.0,4137.0,...,4.8,4112.0,3947.0,165.0,4.0,4058.0,3886.0,172.0,4.2,"Washakie County, WY"
WY,3159.0,3059.0,100.0,3.2,3225.0,3122.0,103.0,3.2,3313.0,3107.0,...,5.0,3754.0,3605.0,149.0,4.0,3731.0,3600.0,131.0,3.5,"Weston County, WY"

In [4]:
housingmeddf = pd.read_csv("HousingNationalData.csv")
housingmeddf.head(8)

   Year    Median
0  2007  $247,900
1  2008  $232,100
2  2009  $216,700
3  2010  $221,800
4  2011  $227,200
5  2012  $245,200
6  2013  $268,900
7  2014  $288,500

In [7]:
housingmeddf.iloc[:,1:]

      Median
0   $247,900
1   $232,100
2   $216,700
3   $221,800
4   $227,200
5   $245,200
6   $268,900
7   $288,500
8   $294,200
9   $307,800
10  $323,100
11  $326,400

In [9]:

def parseFloat(data):
    parsedData = re.sub( '[^\d\.]', '', data)
    return (re.sub( '[^\d\.]', '', data)) if parsedData else 0
housingmeddf = housingmeddf.iloc[:,1:].applymap(parseFloat)
housingmeddf= housingmeddf.astype('float')
housingmeddf.to_csv(r"us_housing_data")

In [ ]:
def us_CLF(source):
    return source[["CLF 2007", "CLF 2008", "CLF 2009", "CLF 2010", "CLF 2011", "CLF 2012", "CLF 2013", "CLF 2014", "CLF 2015", "CLF 2016", "CLF 2017"]]
us_data = e.iloc[:1]
#usCLF data = CLF Data only in the United States
us_CLF = us_CLF(us_data)
us_CLF

In [ ]:
def us_employment(source):
    return source[["Emp 2007", "Emp 2008", 'Emp 2009',"Emp 2010", "Emp 2011", 'Emp 2012',"Emp 2013", "Emp 2014", 'Emp 2015',"Emp 2016", "Emp 2017", 'Emp 2018']]
us_data = e.iloc[:1]
#us_data = employment_data_only.loc["US"]
us_employment = us_employment(us_data)
us_employment

In [ ]:
def us_unemployment(source):
    return source[["Unemp Rate 2007", "Unemp Rate 2008", 'Unemp Rate 2009',"Unemp Rate 2010", "Unemp Rate 2011", 'Unemp Rate 2012',"Unemp Rate 2013", "Unemp Rate 2014", 'Unemp Rate 2015',"Unemp Rate 2016", "Unemp Rate 2017", 'Unemp Rate 2018']]
us_unemployment = us_unemployment(us_data)
us_unemployment.plot.bar()

In [ ]:
def parse_employment_data(source, state_abbr):
    data = source.loc[state_abbr]
    return { 'counties': data.iloc[1:], 'state': data.iloc[:1] }

In [ ]:
def employment(source):
    counties = source['counties'].set_index("County/State")
    return counties[["Emp 2007", "Emp 2008", 'Emp 2009',"Emp 2010", "Emp 2011", 'Emp 2012',"Emp 2013", "Emp 2014", 'Emp 2015',"Emp 2016", "Emp 2017", 'Emp 2018']]

In [ ]:
def unemployment(source):
    counties = source['counties'].set_index("County/State")
    return counties[["Unemp Rate 2007", "Unemp Rate 2008", 'Unemp Rate 2009',"Unemp Rate 2010", "Unemp Rate 2011", 'Unemp Rate 2012',"Unemp Rate 2013", "Unemp Rate 2014", 'Unemp Rate 2015',"Unemp Rate 2016", "Unemp Rate 2017", 'Unemp Rate 2018']]

In [ ]:
def state_emp(source):
    state = source['state']
    return state[["Emp 2007", "Emp 2008", 'Emp 2009',"Emp 2010", "Emp 2011", 'Emp 2012',"Emp 2013", "Emp 2014", 'Emp 2015',"Emp 2016", "Emp 2017", 'Emp 2018']]

In [ ]:
def state_unemp(source):
    state = source['state']
    return state[["Unemp Rate 2007", "Unemp Rate 2008", 'Unemp Rate 2009',"Unemp Rate 2010", "Unemp Rate 2011", 'Unemp Rate 2012',"Unemp Rate 2013", "Unemp Rate 2014", 'Unemp Rate 2015',"Unemp Rate 2016", "Unemp Rate 2017", 'Unemp Rate 2018']]

In [ ]:
alabama_data = parse_employment_data(e, "AL")
#alabama_data['state']=all alabama state info
#alabama_data['counties']=all alabama counties info

alabama_employment = employment(alabama_data)

alabama_unemployment = unemployment(alabama_data)

alabama_st_emp = state_emp(alabama_data)

alabama_st_unemp = state_unemp(alabama_data)

alabama_counties = alabama_data['counties'].set_index("County/State")

In [ ]:
alaska_data = parse_employment_data(e, "AK")

alaska_employment = employment(alaska_data)

alaska_unemployment = unemployment(alaska_data)

alaska_st_emp = state_emp(alaska_data)

alaska_st_unemp = state_unemp(alaska_data)

alaska_counties = alaska_data['counties'].set_index("County/State")

In [ ]:
arizona_data = parse_employment_data(e, "AZ")

arizona_employment = employment(arizona_data)

arizona_unemployment = unemployment(arizona_data)

arizona_st_emp = state_emp(arizona_data)

arizona_st_unemp = state_unemp(arizona_data)

arizona_counties = arizona_data['counties'].set_index("County/State")

In [ ]:
arkansas_data = parse_employment_data(e, "AR")

arkansas_employment = employment(arkansas_data)

arkansas_unemployment = unemployment(arkansas_data)

arkansas_st_emp = state_emp(arkansas_data)

arkansas_st_unemp = state_unemp(arkansas_data)

arkansas_counties = arkansas_data['counties'].set_index("County/State")

In [ ]:
california_data = parse_employment_data(e, "CA")

california_employment = employment(california_data)

california_unemployment = unemployment(california_data)

california_st_emp = state_emp(california_data)

california_st_unemp = state_unemp(california_data)

california_counties = california_data['counties'].set_index("County/State")

In [ ]:
california_st_emp.head()

In [ ]:
colorado_data = parse_employment_data(e, "CO")

colorado_employment = employment(colorado_data)

colorado_unemployment = unemployment(colorado_data)

colorado_st_emp = state_emp(colorado_data)

colorado_st_unemp = state_unemp(colorado_data)

colorado_counties = colorado_data['counties'].set_index("County/State")

In [ ]:
connecticut_data = parse_employment_data(e, "CT")

connecticut_employment = employment(connecticut_data)

connecticut_unemployment = unemployment(connecticut_data)

connecticut_st_emp = state_emp(connecticut_data)

connecticut_st_unemp = state_unemp(connecticut_data)

connecticut_counties = connecticut_data['counties'].set_index("County/State")

In [ ]:
delaware_data = parse_employment_data(e, "DE")

delaware_employment = employment(delaware_data)

delaware_unemployment = unemployment(delaware_data)

delaware_st_emp = state_emp(delaware_data)

delaware_st_unemp = state_unemp(delaware_data)

delaware_counties = delaware_data['counties'].set_index("County/State")

In [ ]:
florida_data = parse_employment_data(e, "FL")

florida_employment = employment(florida_data)

florida_unemployment = unemployment(florida_data)

florida_st_emp = state_emp(florida_data)

florida_st_unemp = state_unemp(florida_data)

florida_counties = florida_data['counties'].set_index("County/State")

In [ ]:
georgia_data = parse_employment_data(e, "GA")

georgia_employment = employment(georgia_data)

georgia_unemployment = unemployment(georgia_data)

georgia_st_emp = state_emp(georgia_data)

georgia_st_unemp = state_unemp(georgia_data)

georgia_counties = georgia_data['counties'].set_index("County/State")

In [ ]:
hawaii_data = parse_employment_data(e, "HI")

hawaii_employment = employment(hawaii_data)

hawaii_unemployment = unemployment(hawaii_data)

hawaii_st_emp = state_emp(hawaii_data)

hawaii_st_unemp = state_unemp(hawaii_data)

hawaii_counties = hawaii_data['counties'].set_index("County/State")

In [ ]:
idaho_data = parse_employment_data(e, "ID")

idaho_employment = employment(idaho_data)

idaho_unemployment = unemployment(idaho_data)

idaho_st_emp = state_emp(idaho_data)

idaho_st_unemp = state_unemp(idaho_data)

idaho_counties = idaho_data['counties'].set_index("County/State")

In [ ]:
illinois_data = parse_employment_data(e, "IL")

illinois_employment = employment(illinois_data)

illinois_unemployment = unemployment(illinois_data)

illinois_st_emp = state_emp(illinois_data)

illinois_st_unemp = state_unemp(illinois_data)

illinois_counties = illinois_data['counties'].set_index("County/State")

In [ ]:
indiana_data = parse_employment_data(e, "IN")

indiana_employment = employment(indiana_data)

indiana_unemployment = unemployment(indiana_data)

indiana_st_emp = state_emp(indiana_data)

indiana_st_unemp = state_unemp(indiana_data)

indiana_counties = indiana_data['counties'].set_index("County/State")

In [ ]:
iowa_data = parse_employment_data(e, "IA")

iowa_employment = employment(iowa_data)

iowa_unemployment = unemployment(iowa_data)

iowa_st_emp = state_emp(iowa_data)

iowa_st_unemp = state_unemp(iowa_data)

iowa_counties = iowa_data['counties'].set_index("County/State")

In [ ]:
kansas_data = parse_employment_data(e, "KS")

kansas_employment = employment(kansas_data)

kansas_unemployment = unemployment(kansas_data)

kansas_st_emp = state_emp(kansas_data)

kansas_st_unemp = state_unemp(kansas_data)

kansas_counties = kansas_data['counties'].set_index("County/State")

In [ ]:
kentucky_data = parse_employment_data(e, "KY")

kentucky_employment = employment(kentucky_data)

kentucky_unemployment = unemployment(kentucky_data)

kentucky_st_emp = state_emp(kentucky_data)

kentucky_st_unemp = state_unemp(kentucky_data)

kentucky_counties = kentucky_data['counties'].set_index("County/State")

In [ ]:
louisiana_data = parse_employment_data(e, "LA")

louisiana_employment = employment(louisiana_data)

louisiana_unemployment = unemployment(louisiana_data)

louisiana_st_emp = state_emp(louisiana_data)

louisiana_st_unemp = state_unemp(louisiana_data)

kentucky_counties = kentucky_data['counties'].set_index("County/State")

In [ ]:
maine_data = parse_employment_data(e, "ME")

maine_employment = employment(maine_data)

maine_unemployment = unemployment(maine_data)

maine_st_emp = state_emp(maine_data)

maine_st_unemp = state_unemp(maine_data)

maine_counties = maine_data['counties'].set_index("County/State")

In [ ]:
maryland_data = parse_employment_data(e, "MD")

maryland_employment = employment(maryland_data)

maryland_unemployment = unemployment(maryland_data)

maryland_st_emp = state_emp(maryland_data)

maryland_st_unemp = state_unemp(maryland_data)

maryland_counties = maryland_data['counties'].set_index("County/State")

In [ ]:
massachusetts_data = parse_employment_data(e, "MA")

massachusetts_employment = employment(massachusetts_data)

massachusetts_unemployment = unemployment(massachusetts_data)

massachusetts_st_emp = state_emp(massachusetts_data)

massachusetts_st_unemp = state_unemp(massachusetts_data)

massachusetts_counties = massachusetts_data['counties'].set_index("County/State")

In [ ]:
michigan_data = parse_employment_data(e, "MI")

michigan_employment = employment(michigan_data)

michigan_unemployment = unemployment(michigan_data)

michigan_st_emp = state_emp(michigan_data)

michigan_st_unemp = state_unemp(michigan_data)

michigan_counties = michigan_data['counties'].set_index("County/State")

In [ ]:
minnesota_data = parse_employment_data(e, "MN")

minnesota_employment = employment(minnesota_data)

minnesota_unemployment = unemployment(minnesota_data)

minnesota_st_emp = state_emp(minnesota_data)

minnesota_st_unemp = state_unemp(minnesota_data)

minnesota_counties = minnesota_data['counties'].set_index("County/State")

In [ ]:
mississippi_data = parse_employment_data(e, "MS")

mississippi_employment = employment(mississippi_data)

mississippi_unemployment = unemployment(mississippi_data)

mississippi_st_emp = state_emp(mississippi_data)

mississippi_st_unemp = state_unemp(mississippi_data)

mississippi_counties = mississippi_data['counties'].set_index("County/State")

In [ ]:
missouri_data = parse_employment_data(e, "MO")

missouri_employment = employment(missouri_data)

missouri_unemployment = unemployment(missouri_data)

missouri_st_emp = state_emp(missouri_data)

missouri_st_unemp = state_unemp(missouri_data)

missouri_counties = missouri_data['counties'].set_index("County/State")

In [ ]:
montana_data = parse_employment_data(e, "MT")

montana_employment = employment(montana_data)

montana_unemployment = unemployment(montana_data)

montana_st_emp = state_emp(montana_data)

montana_st_unemp = state_unemp(montana_data)

montana_counties = montana_data['counties'].set_index("County/State")

In [ ]:
nebraska_data = parse_employment_data(e, "NE")

nebraska_employment = employment(nebraska_data)

nebraska_unemployment = unemployment(nebraska_data)

nebraska_st_emp = state_emp(nebraska_data)

nebraska_st_unemp = state_unemp(nebraska_data)

nebraska_counties = nebraska_data['counties'].set_index("County/State")

In [ ]:
nevada_data = parse_employment_data(e, "NV")

nevada_employment = employment(nevada_data)

nevada_unemployment = unemployment(nevada_data)

nevada_st_emp = state_emp(nevada_data)

nevada_st_unemp = state_unemp(nevada_data)

nevada_counties = nevada_data['counties'].set_index("County/State")

In [ ]:
new_hampshire_data = parse_employment_data(e, "NH")

new_hampshire_employment = employment(new_hampshire_data)

new_hampshire_unemployment = unemployment(new_hampshire_data)

new_hampshire_st_emp = state_emp(new_hampshire_data)

new_hampshire_st_unemp = state_unemp(new_hampshire_data)

new_hampshire_counties = new_hampshire_data['counties'].set_index("County/State")

In [ ]:
new_jersey_data = parse_employment_data(e, "NJ")

new_jersey_employment = employment(new_jersey_data)

new_jersey_unemployment = unemployment(new_jersey_data)

new_jersey_st_emp = state_emp(new_jersey_data)

new_jersey_st_unemp = state_unemp(new_jersey_data)

new_jersey_counties = new_jersey_data['counties'].set_index("County/State")

In [ ]:
new_mexico_data = parse_employment_data(e, "NM")

new_mexico_employment = employment(new_mexico_data)

new_mexico_unemployment = unemployment(new_mexico_data)

new_mexico_st_emp = state_emp(new_mexico_data)

new_mexico_st_unemp = state_unemp(new_mexico_data)

new_mexico_counties = new_mexico_data['counties'].set_index("County/State")

In [ ]:
new_york_data = parse_employment_data(e, "NY")

new_york_employment = employment(new_york_data)

new_york_unemployment = unemployment(new_york_data)

new_york_st_emp = state_emp(new_york_data)

new_york_st_unemp = state_unemp(new_york_data)

new_york_counties = new_york_data['counties'].set_index("County/State")

In [ ]:
north_carolina_data = parse_employment_data(e, "NC")

north_carolina_employment = employment(north_carolina_data)

north_carolina_unemployment = unemployment(north_carolina_data)

north_carolina_st_emp = state_emp(north_carolina_data)

north_carolina_st_unemp = state_unemp(north_carolina_data)

north_carolina_counties = north_carolina_data['counties'].set_index("County/State")

In [ ]:
north_dakota_data = parse_employment_data(e, "ND")

north_dakota_employment = employment(north_dakota_data)

north_dakota_unemployment = unemployment(north_dakota_data)

north_dakota_st_emp = state_emp(north_dakota_data)

north_dakota_st_unemp = state_unemp(north_dakota_data)

north_dakota_counties = north_dakota_data['counties'].set_index("County/State")

In [ ]:
ohio_data = parse_employment_data(e, "OH")

ohio_employment = employment(ohio_data)

ohio_unemployment = unemployment(ohio_data)

ohio_st_emp = state_emp(ohio_data)

ohio_st_unemp = state_unemp(ohio_data)

ohio_counties = ohio_data['counties'].set_index("County/State")

In [ ]:
oklahoma_data = parse_employment_data(e, "OK")

oklahoma_employment = employment(oklahoma_data)

oklahoma_unemployment = unemployment(oklahoma_data)

oklahoma_st_emp = state_emp(oklahoma_data)

oklahoma_st_unemp = state_unemp(oklahoma_data)

oklahoma_counties = oklahoma_data['counties'].set_index("County/State")

In [ ]:
oregon_data = parse_employment_data(e, "OR")

oregon_employment = employment(oregon_data)

oregon_unemployment = unemployment(oregon_data)

oregon_st_emp = state_emp(oregon_data)

oregon_st_unemp = state_unemp(oregon_data)

oregon_counties = oregon_data['counties'].set_index("County/State")

In [ ]:
pennsylvania_data = parse_employment_data(e, "PA")

pennsylvania_employment = employment(pennsylvania_data)

pennsylvania_unemployment = unemployment(pennsylvania_data)

pennsylvania_st_emp = state_emp(pennsylvania_data)

pennsylvania_st_unemp = state_unemp(pennsylvania_data)

pennsylvania_counties = pennsylvania_data['counties'].set_index("County/State")

In [ ]:
rhode_island_data = parse_employment_data(e, "RI")

rhode_island_employment = employment(rhode_island_data)

rhode_island_unemployment = unemployment(rhode_island_data)

rhode_island_st_emp = state_emp(rhode_island_data)

rhode_island_st_unemp = state_unemp(rhode_island_data)

rhode_island_counties = rhode_island_data['counties'].set_index("County/State")

In [ ]:
south_carolina_data = parse_employment_data(e, "SC")

south_carolina_employment = employment(south_carolina_data)

south_carolina_unemployment = unemployment(south_carolina_data)

south_carolina_st_emp = state_emp(south_carolina_data)

south_carolina_st_unemp = state_unemp(south_carolina_data)

south_carolina_counties = south_carolina_data['counties'].set_index("County/State")

In [ ]:
south_dakota_data = parse_employment_data(e, "SD")

south_dakota_employment = employment(south_dakota_data)

south_dakota_unemployment = unemployment(south_dakota_data)

south_dakota_st_emp = state_emp(south_dakota_data)

south_dakota_st_unemp = state_unemp(south_dakota_data)

south_dakota_counties = south_dakota_data['counties'].set_index("County/State")

In [ ]:
tennessee_data = parse_employment_data(e, "TN")

tennessee_employment = employment(tennessee_data)

tennessee_unemployment = unemployment(tennessee_data)

tennessee_st_emp = state_emp(tennessee_data)

tennessee_st_unemp = state_unemp(tennessee_data)

tennessee_counties = tennessee_data['counties'].set_index("County/State")

In [ ]:
texas_data = parse_employment_data(e, "TX")

texas_employment = employment(texas_data)

texas_unemployment = unemployment(texas_data)

texas_st_emp = state_emp(texas_data)

texas_st_unemp = state_unemp(texas_data)

texas_counties = texas_data['counties'].set_index("County/State")

In [ ]:
utah_data = parse_employment_data(e, "UT")

utah_employment = employment(utah_data)

utah_unemployment = unemployment(utah_data)

utah_st_emp = state_emp(utah_data)

utah_st_unemp = state_unemp(utah_data)

utah_counties = utah_data['counties'].set_index("County/State")

In [ ]:
vermont_data = parse_employment_data(e, "VT")

vermont_employment = employment(vermont_data)

vermont_unemployment = unemployment(vermont_data)

vermont_st_emp = state_emp(vermont_data)

vermont_st_unemp = state_unemp(vermont_data)

vermont_counties = vermont_data['counties'].set_index("County/State")

In [ ]:
virginia_data = parse_employment_data(e, "VA")

virginia_employment = employment(virginia_data)

virginia_unemployment = unemployment(virginia_data)

virginia_st_emp = state_emp(virginia_data)

virginia_st_unemp = state_unemp(virginia_data)

virginia_counties = virginia_data['counties'].set_index("County/State")

In [ ]:
washington_data = parse_employment_data(e, "WA")

washington_employment = employment(washington_data)

washington_unemployment = unemployment(washington_data)

washington_st_emp = state_emp(washington_data)

washington_st_unemp = state_unemp(washington_data)

washington_counties = washington_data['counties'].set_index("County/State")

In [ ]:
west_virginia_data = parse_employment_data(e, "WV")

west_virginia_employment = employment(west_virginia_data)

west_virginia_unemployment = unemployment(west_virginia_data)

west_virginia_st_emp = state_emp(west_virginia_data)

west_virginia_st_unemp = state_unemp(west_virginia_data)

west_virginia_counties = west_virginia_data['counties'].set_index("County/State")

In [ ]:
wisconsin_data = parse_employment_data(e, "WI")

wisconsin_employment = employment(wisconsin_data)

wisconsin_unemployment = unemployment(wisconsin_data)

wisconsin_st_emp = state_emp(wisconsin_data)

wisconsin_st_unemp = state_unemp(wisconsin_data)

wisconisin_counties = wisconsin_data['counties'].set_index("County/State")

In [ ]:
wyoming_data = parse_employment_data(e, "WY")

wyoming_employment = employment(wyoming_data)

wyoming_unemployment = unemployment(wyoming_data)

wyoming_st_emp = state_emp(wyoming_data)

wyoming_st_unemp = state_unemp(wyoming_data)

wyoming_counties = wyoming_data['counties'].set_index("County/State")
#wyoming_employment.plot.bar(figsize=(20,20))

In [ ]:
def states(state):
    return e.loc[e['County/State']== state]

In [ ]:
AL=states("Alabama")
AZ=states("Arizona")
AK=states("Alaska")
AR=states("Arkansas")
CA=states("California")
CO=states("Colorado")
CT=states("Connecticut")
DE=states("Delaware")
FL=states("Florida")
GA=states("Georgia")
HI=states("Hawaii")
ID=states("Idaho")
IL=states("Illinois")
IN=states("Indiana")
IO=states("Iowa")
KS=states("Kansas")
KY=states("Kentucky")
LA=states("Louisiana")
ME=states("Maine")
MD=states("Maryland")
MA=states("Massachusetts")
MI=states("Michigan")
MN=states("Minnesota")
MS=states("Mississippi")
MO=states("Missouri")
MT=states("Montana")
NE=states("Nebraska")
NV=states("Nevada")
NH=states("New Hampshire")
NJ=states("New Jersey")
NM=states("New Mexico")
NY=states("New York")
NC=states("North Carolina")
ND=states("North Dakota")
OH=states("Ohio")
OK=states("Oklahoma")
OR=states("Oregon")
PA=states("Pennsylvania")
RI=states("Rhode Island")
SC=states("South Carolina")
SD=states("South Dakota")
TN=states("Tennessee")
TX=states("Texas")
UT=states("Utah")
VT=states("Vermont")
VA=states("Virginia")
WA=states("Washington")
WV=states("West Virginia")
WI=states("Wisconsin")
WY=states("Wyoming")
e_states=pd.concat([AL, AK, AZ, AR, CA, CO, CT, DE, FL, GA, HI, ID, IL, IN, IO, KS,
                    KY, LA, ME, MD, MA, MI, MN, MS, MO, MT, NE, NV, NH, NJ,
                    NM, NY, NC, ND, OH, OK, OR, PA, RI, SC, SD, TN, TX, UT,
                    VT, VA, WA, WV, WI, WY], axis=0)
e_states

In [ ]:
st_unemp= e_states[["County/State", "Unemp Rate 2016",
               "Unemp Rate 2017", "Unemp Rate 2018"]]

nj_v_pa = st_unemp.loc[(st_unemp['County/State']=='New Jersey')|(st_unemp['County/State']=='Pennsylvania')]

#comparing unemployment rate of states

frames = [west_virginia_st_unemp, california_st_unemp, iowa_st_unemp, virginia_st_unemp, maryland_st_unemp]
results = pd.concat(frames, axis=0)
results.plot.bar(figsize=(15,15))
e_states

In [ ]:
def sep_emp_population(size):
    pop=e_states.loc[e_states["CLF Pop"]== size]
    return pop[["Emp 2007","Emp 2008","Emp 2009","Emp 2010","Emp 2011","Emp 2012","Emp 2013","Emp 2014","Emp 2015","Emp 2016","Emp 2017","Emp 2018"]]

In [ ]:
def sep_unemp_population(size):
    pop=e_states.loc[e_states["CLF Pop"]== size]
    return pop[["Unemp Rate 2007","Unemp Rate 2008","Unemp Rate 2009","Unemp Rate 2010","Unemp Rate 2011","Unemp Rate 2012","Unemp Rate 2013","Unemp Rate 2014","Unemp Rate 2015","Unemp Rate 2016","Unemp Rate 2017","Unemp Rate 2018"]]

In [ ]:
#binning states by population size
#graphing employment and unemployment rate by population
bins = [0,1000000,2000000,3000000,4000000,5000000,20000000]
group_names = ["<1,000,000","1,000,000-2,000,000","2,000,000-3,000,000","3,000,000-4,000,000","4,000,000-5,000,000","5,000,000+"]
e_states["CLF Pop"] = pd.cut(e_states["CLF 2018"], bins, labels=group_names)

In [ ]:
states_emp_less_than_1m = sep_emp_population("<1,000,000")

states_unemp_less_than_1m = sep_unemp_population("<1,000,000")

In [ ]:
states_emp_less_than_2m = sep_emp_population("1,000,000-2,000,000")

states_unemp_less_than_2m = sep_unemp_population("1,000,000-2,000,000")

In [ ]:
states_emp_less_than_3m = sep_emp_population("2,000,000-3,000,000")

states_unemp_less_than_3m = sep_unemp_population("2,000,000-3,000,000")

In [ ]:
states_emp_less_than_4m = sep_emp_population("3,000,000-4,000,000")

states_unemp_less_than_4m = sep_unemp_population("3,000,000-4,000,000")

In [ ]:
states_emp_less_than_5m = sep_emp_population("4,000,000-5,000,000")

states_unemp_less_than_5m = sep_unemp_population("4,000,000-5,000,000")

In [ ]:
states_emp_over_5m = sep_emp_population("5,000,000+")

states_unemp_over_5m = sep_unemp_population("5,000,000+")

In [ ]:
states_unemp_over_5m.plot.bar(figsize=(10,10))
states_unemp_over_5m

In [ ]:
u.T.plot.line()
plt.title("United States Unemployment")
plt.xlabel("Unemployment Years")
plt.ylabel("Unemployment Percent")


plt.xticks(rotation="vertical")

In [ ]:
states_unemp_less_than_2m.plot.bar(figsize=(10,10))

In [ ]:
housing_data = pd.read_csv('./housing_data')

In [ ]:
housing_data = housing_data.set_index("State")

In [ ]:
two_six = housing_data.loc[housing_data['Year']==2006]
del two_six['Year']
e_states['Median House Price 2006'] = two_six

In [ ]:
two_seven = housing_data.loc[housing_data['Year']==2007]
del two_seven['Year']
e_states['Median House Price 2007'] = two_seven

In [ ]:
two_eight = housing_data.loc[housing_data['Year']==2008]
del two_eight['Year']
e_states['Median House Price 2008'] = two_eight

In [ ]:
two_nine = housing_data.loc[housing_data['Year']==2009]
del two_nine['Year']
e_states['Median House Price 2009'] = two_nine

In [ ]:
two_ten = housing_data.loc[housing_data['Year']==2010]
del two_ten['Year']
e_states['Median House Price 2010'] = two_ten

In [ ]:
two_eleven = housing_data.loc[housing_data['Year']==2011]
del two_eleven['Year']
e_states['Median House Price 2011'] = two_eleven

In [ ]:
two_twelve = housing_data.loc[housing_data['Year']==2012]
del two_twelve['Year']
e_states['Median House Price 2012'] = two_twelve

In [ ]:
two_thirteen = housing_data.loc[housing_data['Year']==2013]
del two_thirteen['Year']
e_states['Median House Price 2013'] = two_thirteen

In [ ]:
two_fourteen = housing_data.loc[housing_data['Year']==2014]
del two_fourteen['Year']
e_states['Median House Price 2014'] = two_fourteen

In [ ]:
two_fifteen = housing_data.loc[housing_data['Year']==2015]
del two_fifteen['Year']
e_states['Median House Price 2015'] = two_fifteen

In [ ]:
two_sixteen = housing_data.loc[housing_data['Year']==2016]
del two_sixteen['Year']
e_states['Median House Price 2016'] = two_sixteen

In [ ]:
two_seventeen = housing_data.loc[housing_data['Year']==2017]
del two_seventeen['Year']
e_states['Median House Price 2017'] = two_seventeen

In [ ]:
two_eightteen = housing_data.loc[housing_data['Year']==2018]
del two_eightteen['Year']
e_states['Median House Price 2018'] = two_eightteen

In [ ]:
e_states

# Unemployment/Employment of California vs. USA

In [ ]:
st_unemp= e_states[["County/State", "Unemp Rate 2016",
               "Unemp Rate 2017", "Unemp Rate 2018"]]

nj_v_pa = st_unemp.loc[(st_unemp['County/State']=='New Jersey')|(st_unemp['County/State']=='Pennsylvania')]

#comparing unemployment rate of a particular state to that of national average

frames = [us_unemployment, california_st_unemp]
results = pd.concat(frames, axis=0)
results.T.plot.line(figsize=(10,6), marker="o")
plt.grid()
plt.title("Unemployment Rate of California vs. USA")
plt.xlabel("Year")
plt.ylabel("Unemployment Rate (%)")

plt.show()
results.T

In [ ]:
frames = [us_employment, california_st_emp]
results = pd.concat(frames, axis=0)
results.T.plot.line(figsize=(10,6), marker="o")
plt.grid()
plt.title("Employment of California vs U.S ")
plt.xlabel("Year")
plt.ylabel("Employed Numbers")

plt.show()
results.T

In [ ]:
employment rate = us_employment[*us_CLF
employment rate

In [ ]:
st_emp= e_states[["County/State", "Unemp Rate 2016",
               "Unemp Rate 2017", "Unemp Rate 2018"]]

In [ ]:
states_unemp_over_5m.T.plot.line(figsize=(10,6), marker="o")
states_unemp_over_5m.T

plt.grid()
plt.title("Unemployment Rate by State by Year (Over 5 Million)")
plt.xlabel("Year")
plt.ylabel("Unemployment Rate (%)")

plt.show()

In [ ]:
states_unemp_less_than_5m.T.plot.line(figsize=(10,6), marker="o")
states_unemp_less_than_5m.T

plt.grid()
plt.title("Unemployment Rate by State by Year (4 - 5 Million)")
plt.xlabel("Year")
plt.ylabel("Unemployment Rate (%)")

plt.show()

In [ ]:
states_unemp_less_than_4m.T.plot.line(figsize=(10,6), marker="o")
states_unemp_less_than_4m.T

plt.grid()
plt.title("Unemployment Rate by State by Year (3 - 4 Million)")
plt.xlabel("Year")
plt.ylabel("Unemployment Rate (%)")

plt.show()

In [ ]:
states_unemp_less_than_3m.T.plot.line(figsize=(10,6), marker="o")
states_unemp_less_than_3m.T

plt.grid()
plt.title("Unemployment Rate by State by Year (2 - 3 Million)")
plt.xlabel("Year")
plt.ylabel("Unemployment Rate (%)")

plt.show()

In [ ]:
states_unemp_less_than_2m.T.plot.line(figsize=(10,6), marker="o")
states_unemp_less_than_2m.T

plt.grid()
plt.title("Unemployment Rate by State by Year (1 - 2 Million)")
plt.xlabel("Year")
plt.ylabel("Unemployment Rate (%)")

plt.show()

In [ ]:
states_unemp_less_than_1m.T.plot.line(figsize=(10,6), marker="o")
states_unemp_less_than_1m.T

plt.grid()
plt.title("Unemployment Rate by State by Year (Under 1 Million)")
plt.xlabel("Year")
plt.ylabel("Unemployment Rate (%)")

plt.show()

In [ ]:
def sep_med_price(state):
    pop=e_states.loc[state]
    return pop[["Median House Price 2007",
                "Median House Price 2008",
                "Median House Price 2009",
                "Median House Price 2010",
                "Median House Price 2011",
                "Median House Price 2012",
                "Median House Price 2013",
                "Median House Price 2014",
                "Median House Price 2015",
                "Median House Price 2016",
                "Median House Price 2017",
                "Median House Price 2018"]]

In [ ]:
sep_med_price("CA")

In [ ]:
clf_under_1mm = sep_med_price("CA")

under_1mm_house = clf_under_1mm[["Median House Price 2007",
                "Median House Price 2008",
                "Median House Price 2009",
                "Median House Price 2010",
                "Median House Price 2011",
                "Median House Price 2012",
                "Median House Price 2013",
                "Median House Price 2014",
                "Median House Price 2015",
                "Median House Price 2016",
                "Median House Price 2017",
                "Median House Price 2018"]]

under_1mm_house.T.plot.line(figsize=(10,6))

In [ ]:
clf_over_5mm = e_states.loc[e_states["CLF Pop"] == "5,000,000+"]

over_5mm_house = clf_over_5mm[["Median House Price 2007",
                "Median House Price 2008",
                "Median House Price 2009",
                "Median House Price 2010",
                "Median House Price 2011",
                "Median House Price 2012",
                "Median House Price 2013",
                "Median House Price 2014",
                "Median House Price 2015",
                "Median House Price 2016",
                "Median House Price 2017",
                "Median House Price 2018"]]

over_5mm_house.T.plot.line(figsize=(10,10))