In [1]:
import pandas as pd

In [2]:
file = "Data/PopulationPerStateandCounty.csv"
population = pd.read_csv(file)
population.head()

,FIPS,State,Area_Name,Rural-urban_Continuum Code_2003,Rural-urban_Continuum Code_2013,Urban_Influence_Code_2003,Urban_Influence_Code_2013,Economic_typology_2015,CENSUS_2010_POP,ESTIMATES_BASE_2010,...,R_DOMESTIC_MIG_2017,R_DOMESTIC_MIG_2018,R_NET_MIG_2011,R_NET_MIG_2012,R_NET_MIG_2013,R_NET_MIG_2014,R_NET_MIG_2015,R_NET_MIG_2016,R_NET_MIG_2017,R_NET_MIG_2018
0,0,US,United States,NaN,NaN,NaN,NaN,NaN,"308,745,538","308,758,105",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,NaN,"4,779,736","4,780,138",...,0.4,1.2,0.5,1.2,1.6,0.6,0.6,0.8,1.1,1.9
2,1001,AL,Autauga County,2.0,2.0,2.0,2.0,0.0,"54,571","54,574",...,1.1,0.7,6.0,-6.1,-3.9,2.0,-1.9,5.3,1.0,0.6
3,1003,AL,Baldwin County,4.0,3.0,5.0,2.0,5.0,"182,265","182,264",...,22.0,24.3,16.3,17.6,22.9,20.2,17.9,21.5,22.5,24.8
4,1005,AL,Barbour County,6.0,6.0,6.0,6.0,3.0,"27,457","27,457",...,-25.5,-9.1,0.3,-6.8,-8.1,-5.1,-15.5,-18.2,-25.0,-8.6

In [14]:
population = population.drop(population.index[0])
population.columns

Index(['FIPS', 'State', 'Area_Name', 'Rural-urban_Continuum Code_2003',
       'Rural-urban_Continuum Code_2013', 'Urban_Influence_Code_2003',
       'Urban_Influence_Code_2013', 'Economic_typology_2015',
       'CENSUS_2010_POP', 'ESTIMATES_BASE_2010',
       ...
       'R_DOMESTIC_MIG_2017', 'R_DOMESTIC_MIG_2018', 'R_NET_MIG_2011',
       'R_NET_MIG_2012', 'R_NET_MIG_2013', 'R_NET_MIG_2014', 'R_NET_MIG_2015',
       'R_NET_MIG_2016', 'R_NET_MIG_2017', 'R_NET_MIG_2018'],
      dtype='object', length=149)

In [15]:
new_df=population[["State","Area_Name","CENSUS_2010_POP", "POP_ESTIMATE_2011", 
                   "POP_ESTIMATE_2012", "POP_ESTIMATE_2013", "POP_ESTIMATE_2014",
                   "POP_ESTIMATE_2015", "POP_ESTIMATE_2016", "POP_ESTIMATE_2017","POP_ESTIMATE_2018"
                    ]]
new_df

,State,Area_Name,CENSUS_2010_POP,POP_ESTIMATE_2011,POP_ESTIMATE_2012,POP_ESTIMATE_2013,POP_ESTIMATE_2014,POP_ESTIMATE_2015,POP_ESTIMATE_2016,POP_ESTIMATE_2017,POP_ESTIMATE_2018
1,AL,Alabama,"4,779,736","4,798,834","4,815,564","4,830,460","4,842,481","4,853,160","4,864,745","4,875,120","4,887,871"
2,AL,Autauga County,"54,571","55,208","54,936","54,713","54,876","54,838","55,242","55,443","55,601"
3,AL,Baldwin County,"182,265","186,540","190,143","194,886","199,189","202,995","207,712","212,619","218,022"
4,AL,Barbour County,"27,457","27,350","27,174","26,944","26,758","26,294","25,819","25,158","24,881"
5,AL,Bibb County,"22,915","22,747","22,664","22,516","22,541","22,562","22,576","22,555","22,400"
...,...,...,...,...,...,...,...,...,...,...,...
3268,PR,"Vega Baja Municipio, Puerto Rico","59,662","58,668","57,839","57,039","55,922","54,787","53,659","52,303","50,185"
3269,PR,"Vieques Municipio, Puerto Rico","9,301","9,236","9,215","9,166","9,069","8,952","8,819","8,650","8,364"
3270,PR,"Villalba Municipio, Puerto Rico","26,073","25,547","25,137","24,747","24,263","23,667","23,099","22,458","21,476"
3271,PR,"Yabucoa Municipio, Puerto Rico","37,941","37,367","36,843","36,374","35,728","35,062","34,328","33,468","32,158"
3272,PR,"Yauco Municipio, Puerto Rico","42,043","41,047","40,260","39,508","38,554","37,607","36,676","35,497","33,860"

In [17]:
#no Puerto Rico
new_df=new_df.loc[new_df["State"]!="PR",:]
new_df

,State,Area_Name,CENSUS_2010_POP,POP_ESTIMATE_2011,POP_ESTIMATE_2012,POP_ESTIMATE_2013,POP_ESTIMATE_2014,POP_ESTIMATE_2015,POP_ESTIMATE_2016,POP_ESTIMATE_2017,POP_ESTIMATE_2018
1,AL,Alabama,"4,779,736","4,798,834","4,815,564","4,830,460","4,842,481","4,853,160","4,864,745","4,875,120","4,887,871"
2,AL,Autauga County,"54,571","55,208","54,936","54,713","54,876","54,838","55,242","55,443","55,601"
3,AL,Baldwin County,"182,265","186,540","190,143","194,886","199,189","202,995","207,712","212,619","218,022"
4,AL,Barbour County,"27,457","27,350","27,174","26,944","26,758","26,294","25,819","25,158","24,881"
5,AL,Bibb County,"22,915","22,747","22,664","22,516","22,541","22,562","22,576","22,555","22,400"
...,...,...,...,...,...,...,...,...,...,...,...
3189,WY,Sweetwater County,"43,806","43,981","45,005","45,162","44,957","44,754","44,275","43,547","43,051"
3190,WY,Teton County,"21,294","21,414","21,625","22,318","22,777","23,016","23,161","23,261","23,081"
3191,WY,Uinta County,"21,118","20,893","20,994","20,953","20,827","20,770","20,691","20,456","20,299"
3192,WY,Washakie County,"8,533","8,448","8,408","8,414","8,275","8,280","8,168","8,035","7,885"
3193,WY,Weston County,"7,208","7,142","7,077","7,137","7,138","7,197","7,213","6,986","6,967"

In [18]:
new_df=new_df.rename(columns={"Area_Name":"Area Name", "CENSUS_2010_POP":"2010 Population", "POP_ESTIMATE_2011":"2011 Population",
                             "POP_ESTIMATE_2012":"2012 Population", "POP_ESTIMATE_2013":"2013 Population", "POP_ESTIMATE_2014":"2014 Population",
                             "POP_ESTIMATE_2015":"2015 Population", "POP_ESTIMATE_2016":"2016 Population", "POP_ESTIMATE_2017":"2017 Population",
                             "POP_ESTIMATE_2018":"2018 Population",} )
new_df

,State,Area Name,2010 Population,2011 Population,2012 Population,2013 Population,2014 Population,2015 Population,2016 Population,2017 Population,2018 Population
1,AL,Alabama,"4,779,736","4,798,834","4,815,564","4,830,460","4,842,481","4,853,160","4,864,745","4,875,120","4,887,871"
2,AL,Autauga County,"54,571","55,208","54,936","54,713","54,876","54,838","55,242","55,443","55,601"
3,AL,Baldwin County,"182,265","186,540","190,143","194,886","199,189","202,995","207,712","212,619","218,022"
4,AL,Barbour County,"27,457","27,350","27,174","26,944","26,758","26,294","25,819","25,158","24,881"
5,AL,Bibb County,"22,915","22,747","22,664","22,516","22,541","22,562","22,576","22,555","22,400"
...,...,...,...,...,...,...,...,...,...,...,...
3189,WY,Sweetwater County,"43,806","43,981","45,005","45,162","44,957","44,754","44,275","43,547","43,051"
3190,WY,Teton County,"21,294","21,414","21,625","22,318","22,777","23,016","23,161","23,261","23,081"
3191,WY,Uinta County,"21,118","20,893","20,994","20,953","20,827","20,770","20,691","20,456","20,299"
3192,WY,Washakie County,"8,533","8,448","8,408","8,414","8,275","8,280","8,168","8,035","7,885"
3193,WY,Weston County,"7,208","7,142","7,077","7,137","7,138","7,197","7,213","6,986","6,967"

In [19]:
new_df.count()

State              3193
Area Name          3193
2010 Population    3193
2011 Population    3193
2012 Population    3193
2013 Population    3193
2014 Population    3193
2015 Population    3193
2016 Population    3193
2017 Population    3193
2018 Population    3193
dtype: int64

In [20]:
new_df.set_index("Area Name")

,State,2010 Population,2011 Population,2012 Population,2013 Population,2014 Population,2015 Population,2016 Population,2017 Population,2018 Population
Area Name,,,,,,,,,,
Alabama,AL,"4,779,736","4,798,834","4,815,564","4,830,460","4,842,481","4,853,160","4,864,745","4,875,120","4,887,871"
Autauga County,AL,"54,571","55,208","54,936","54,713","54,876","54,838","55,242","55,443","55,601"
Baldwin County,AL,"182,265","186,540","190,143","194,886","199,189","202,995","207,712","212,619","218,022"
Barbour County,AL,"27,457","27,350","27,174","26,944","26,758","26,294","25,819","25,158","24,881"
Bibb County,AL,"22,915","22,747","22,664","22,516","22,541","22,562","22,576","22,555","22,400"
...,...,...,...,...,...,...,...,...,...,...
Sweetwater County,WY,"43,806","43,981","45,005","45,162","44,957","44,754","44,275","43,547","43,051"
Teton County,WY,"21,294","21,414","21,625","22,318","22,777","23,016","23,161","23,261","23,081"
Uinta County,WY,"21,118","20,893","20,994","20,953","20,827","20,770","20,691","20,456","20,299"
Washakie County,WY,"8,533","8,448","8,408","8,414","8,275","8,280","8,168","8,035","7,885"
Weston County,WY,"7,208","7,142","7,077","7,137","7,138","7,197","7,213","6,986","6,967"

In [23]:
new_df.to_csv("Data/Output_data/new_population.csv", index=True) 
#cities_weather.to_csv("../weatherPy/output_data/cities.csv", index=True)